<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:wu="http://share.samply.de/webutils"
>

    <ui:define name="title">
        <h:outputText value="#{wu:getDisplayName()} - #{msg.archivedInquiries}"/>
    </ui:define>

    <ui:define name="additional-css">
        <h:outputStylesheet name="webjars/datatables/1.10.13/css/dataTables.bootstrap.min.css"/>
    </ui:define>

    <ui:define name="additional-js">
        <h:outputScript name="webjars/datatables/1.10.13/js/jquery.dataTables.min.js"/>
        <h:outputScript name="webjars/datatables/1.10.13/js/dataTables.bootstrap.min.js"/>
        <h:outputScript name="js/date-de.js" />
        <h:outputScript name="js/tables.js" />
    </ui:define>

    <ui:define name="page-header">
        <h1>#{msg.yourArchivedInquiries}</h1>
        <p>#{msg.archiveIntro}</p>
    </ui:define>

    <ui:define name="main-content">
        <h:form styleClass="form-inline" role="form" id="archivedInquiriesForm">
            <h:messages showDetail="true" showSummary="true" id="messages" globalOnly="true"/>

            <table class="table table-hover table-condensed" id="archivedInquiriesTable">
                <thead>
                <tr>
                    <th>#{msg.name}</th>
                    <th>Revision</th>
                    <th>#{msg.date}</th>
                    <th>#{msg.expires_at}</th>
                </tr>
                </thead>
                <tbody>
                <ui:repeat var="inq" value="#{inquiryController.outdatedInquiries}" varStatus="inqStatus">
                    <tr>
                        <td><h:link value="#{inq.label}" outcome="showInquiry">
                            <f:param name="inquiryId" value="#{inq.id}"/>
                        </h:link>
                        </td>
                        <td>#{inq.revision}</td>
                        <td>#{wu:convertTimestamp(inq.created)}</td>
                        <td>#{wu:isoToGermanDateString(inq.expires)}</td>
                    </tr>
                </ui:repeat>
                </tbody>
            </table>
        </h:form>
    </ui:define>
</ui:composition>
