<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:wu="http://share.samply.de/webutils"
>

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView" listener="#{loginController.reloadUserSite}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="title">
        <h:outputText value="#{wu:getDisplayName()} - #{msg.contact_info}"/>
    </ui:define>


    <ui:define name="main-content">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="page-header">
                    <h1>#{msg.profile}</h1>
                </div>
                <h:form class="form-horizontal" role="form" id="contactForm">
                    <div class="form-group">
                        <label for="title" class="col-sm-3 control-label">#{msg.title}</label>
                        <div class="col-sm-9">
                            <h:inputText id="title" name="title"
                                         value="#{loginController.contact.title}"
                                         placeholder="#{msg.title}" styleClass="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstName"
                               class="col-sm-3 control-label">#{msg.firstname}</label>
                        <div class="col-sm-9">
                            <h:inputText id="firstName" name="firstName"
                                         value="#{loginController.contact.firstname}"
                                         placeholder="#{msg.firstname}"
                                         styleClass="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-sm-3 control-label">#{msg.lastname}</label>
                        <div class="col-sm-9">
                            <h:inputText id="lastName" name="lastName"
                                         value="#{loginController.contact.lastname}"
                                         placeholder="#{msg.lastname}"
                                         styleClass="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">#{msg.email}</label>
                        <div class="col-sm-9">
                            <h:inputText id="email" name="email"
                                         value="#{loginController.contact.email}"
                                         placeholder="#{msg.email}" styleClass="form-control"
                                         disabled="disabled"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-sm-3 control-label">#{msg.phone}</label>
                        <div class="col-sm-9">
                            <h:inputText id="phone" name="phone"
                                         value="#{loginController.contact.phone}"
                                         placeholder="#{msg.phone}"
                                         styleClass="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="organizationName"
                               class="col-sm-3 control-label">#{msg.contactLocation}</label>
                        <div class="col-sm-9">
                            <h:inputText id="organizationName" name="organizationName"
                                         value="#{loginController.contact.organizationname}"
                                         placeholder="#{msg.contactLocation}"
                                         styleClass="form-control"/>
                        </div>
                    </div>

                    <ui:fragment rendered="#{wu:getProjectName() == 'dktk'}">
                        <ui:param name="userSite" value="#{loginController.userSite}"/>
                        <div class="form-group">
                            <label for="organizationName"
                                   class="col-sm-3 control-label">#{msg.co_site}</label>

                            <ui:fragment rendered="#{empty userSite or !userSite.approved}">
                                <div class="col-sm-9">
                                    <h:selectOneMenu value="#{loginController.newSiteId}"
                                                     styleClass="form-control"
                                                     converter="omnifaces.SelectItemsConverter">
                                        <f:selectItem itemValue="#{null}" itemLabel=" "/>
                                        <f:selectItems value="#{loginController.sites}" var="site"
                                                       itemLabel="#{wu:getExtendedNamespace(site.name)}"
                                                       itemValue="#{site.id}"/>
                                    </h:selectOneMenu>
                                </div>
                                <ui:fragment rendered="#{not empty userSite}">
                                    <div class="col-sm-9 col-sm-offset-3 form-control-static">
                                        <i class="fa fa-info fa-fw"/>  #{msg.awaitingApproval}
                                    </div>
                                </ui:fragment>
                            </ui:fragment>
                            <ui:fragment rendered="#{not empty userSite and userSite.approved}">
                                <div class="col-sm-9 form-control-static">
                                    <h:outputText value="#{loginController.userSiteName}"/>
                                </div>
                            </ui:fragment>
                        </div>
                    </ui:fragment>

                    <ui:fragment
                            rendered="#{ (fn:containsIgnoreCase(wu:getProjectName(), 'osse')) or (fn:containsIgnoreCase(wu:getProjectName(), 'erdri')) }">
                        <div class="form-space"/>
                        <div class="form-group">
                            <label for="consentText"
                                   class="col-sm-3 control-label">#{msg.consent}</label>
                            <div class="col-sm-9">
                                <h:outputText id="consentText"
                                              value="#{loginController.latestConsent.content}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="consent"
                                   class="col-sm-3 control-label">#{msg.iagree}</label>
                            <div class="col-sm-9">
                                <h:selectBooleanCheckbox id="consent" name="consent"
                                                         value="#{loginController.userConsent}"
                                                         styleClass="form-control"/>
                            </div>
                        </div>
                    </ui:fragment>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <h:commandLink styleClass="btn btn-md btn-success" value=""
                                           id="storeContact"
                                           actionListener="#{loginController.updateContact}">
                                <i class="fa fa-save fa-fw"/> #{msg.save_changes}
                            </h:commandLink>
                            <!--                                 <h:commandLink styleClass="btn btn-md btn-success" value="" id="storeContact" action="#{loginController.updateContact}" > -->
                            <!--                                     <i class="fa fa-save fa-fw" /> #{msg.save_changes} -->
                            <!--                                     <f:ajax execute="@form" render="@form" /> -->
                            <!--                                 </h:commandLink> -->
                        </div>
                    </div>
                </h:form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <h:messages showDetail="true" showSummary="true" id="messages" globalOnly="true"/>
            </div>
        </div>
    </ui:define>
</ui:composition>