<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:wu="http://share.samply.de/webutils"
>

    <ui:define name="title">
        <h:outputText value="#{wu:getDisplayName()} - #{msg.overview}"/>
    </ui:define>

    <ui:define name="additional-js">
        <h:outputScript target="body">
            $(document).ready(function () {
                $('.project-panel, .new-inquiry-panel').click(function (event) {
                    event.stopPropagation();
                    $(this).siblings('.go-to-project').children('a').trigger("click");
                });
            });
        </h:outputScript>
    </ui:define>

    <ui:define name="optional-import-constants">
        <o:importConstants type="de.samply.share.broker.model.db.enums.InquiryStatus"/>
    </ui:define>

    <ui:define name="page-header">
        <h1>#{msg.overview}</h1>
    </ui:define>

    <ui:define name="main-content">
        <h:form>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12">
                    <h:messages escape="false" id="messages" showDetail="true" var="message"/>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <ui:include src="/components/c_inquiries_draft.xhtml"/>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <ui:include src="/components/c_inquiries_noProject.xhtml"/>
                        </div>
                    </div>
                    <div class="row">
                        <ui:fragment rendered="#{wu:getProjectName() == 'dktk'}">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <ui:include src="/components/c_inquiries_project.xhtml"/>
                            </div>
                        </ui:fragment>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <ui:include src="/components/c_inquiries_archived.xhtml"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <ui:include src="/components/c_inquiry_new.xhtml"/>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>