<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:wu="http://share.samply.de/webutils"
>

    <ui:define name="title">
        <h:outputText value="#{wu:getDisplayName()} - #{msg.drafts}"/>
    </ui:define>

    <ui:define name="additional-css">
        <h:outputStylesheet name="webjars/datatables/1.10.13/css/dataTables.bootstrap.min.css"/>
    </ui:define>

    <ui:define name="additional-js">
        <h:outputScript name="webjars/datatables/1.10.13/js/jquery.dataTables.min.js"/>
        <h:outputScript name="webjars/datatables/1.10.13/js/dataTables.bootstrap.min.js"/>
        <h:outputScript name="js/date-de.js" />
        <h:outputScript name="js/tables.js" />
    </ui:define>

    <ui:define name="page-header">
        <h1>#{msg.yourDrafts}</h1>
        <p>#{msg.draftsIntro}</p>
        <p><h:form><h:commandLink value="#{msg.new_inquiry}"
                                  action="#{searchDetailsBean.clearSerializedQueryAndGotoStep1}"
                                  styleClass="btn btn-md btn-primary"/></h:form></p>
    </ui:define>

    <ui:define name="main-content">
        <h:messages escape="false" id="messages" showDetail="true" var="message"/>
        <h:form styleClass="form-inline" role="form" id="draftsForm">

            <table class="table table-hover table-condensed" id="draftsTable">
                <thead>
                <tr>
                    <th>#{msg.name}</th>
                    <th>Revision</th>
                    <th>#{msg.date}</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <ui:repeat var="inq" value="#{inquiryController.inquiryDrafts}" varStatus="inqStatus">
                    <ui:param name="proj" value="#{wu:getProjectForInquiry(inq)}"/>
                    <tr>
                        <td>
                            <ui:fragment rendered="#{not empty inq.label}">
                                <h:link value="#{inq.label}" outcome="showInquiry">
                                    <f:param name="inquiryId" value="#{inq.id}"/>
                                </h:link>
                            </ui:fragment>
                            <ui:fragment rendered="#{empty inq.label}">
                                <h:link value="#{msg.unnamed_query}" outcome="showInquiry">
                                    <f:param name="inquiryId" value="#{inq.id}"/>
                                </h:link>
                            </ui:fragment>
                        </td>
                        <td>#{inq.revision}</td>
                        <td>#{wu:convertTimestamp(inq.created)}</td>
                        <ui:fragment rendered="#{empty proj}">
                            <td>#{msg[inq.status]}</td>
                        </ui:fragment>
                        <ui:fragment rendered="#{not empty proj}">
                            <td>#{msg[proj.status]}</td>
                        </ui:fragment>
                    </tr>
                </ui:repeat>
                </tbody>
            </table>
        </h:form>
    </ui:define>
</ui:composition>
