<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:wu="http://share.samply.de/webutils">

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="inquiryId" value="#{inquiryController.selectedInquiryId}"/>
            <f:viewParam name="authHeader" value="#{inquiryController.authHeader}"/>
            <f:viewAction action="#{inquiryController.editInquiry}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="title">
        <h:outputText value="#{wu:getDisplayName()} - #{msg.editInquiry}"/>
    </ui:define>

    <ui:define name="main-content">
        <h:outputText value="redirecting..."/>
    </ui:define>

</ui:composition>
