<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:wu="http://share.samply.de/webutils"
>

    <ui:define name="title">
        <h:outputText value="#{wu:getDisplayName()} - #{msg.co_projects}"/>
    </ui:define>

    <ui:define name="metadata">

    </ui:define>

    <ui:define name="additional-css">
        <h:outputStylesheet name="webjars/datatables/1.10.13/css/dataTables.bootstrap.min.css"/>
    </ui:define>

    <ui:define name="additional-js">
        <h:outputScript name="webjars/datatables/1.10.13/js/jquery.dataTables.min.js"/>
        <h:outputScript name="webjars/datatables/1.10.13/js/dataTables.bootstrap.min.js"/>
        <h:outputScript name="js/date-de.js" />
        <h:outputScript name="js/tables.js" />
    </ui:define>

    <ui:define name="optional-import-constants">
        <o:importConstants type="de.samply.share.broker.model.db.enums.ProjectStatus"/>
    </ui:define>

    <ui:define name="page-header">
        <h1>#{msg.yourProjects}</h1>
        <p>#{msg.projectsIntro}</p>
    </ui:define>

    <ui:define name="main-content">
        <h:messages escape="false" id="messages" showDetail="true" var="message"/>
        <h:form styleClass="form-inline" role="form" id="projectsForm">

            <table class="table table-hover table-condensed" id="inquiriesWithProjectsTable">
                <thead>
                <tr>
                    <th>#{msg.name}</th>
                    <th>Revision</th>
                    <th>#{msg.date}</th>
                    <th>#{msg.expires_at}</th>
                    <th>Status</th>
                    <th>#{msg.co_projectId}</th>
                </tr>
                </thead>
                <tbody>
                <ui:repeat var="inq" value="#{inquiryController.releasedInquiriesWithProjects}" varStatus="inqStatus">
                    <ui:param name="proj" value="#{wu:getProjectForInquiry(inq)}"/>
                    <tr>
                        <td>
                            <ui:fragment rendered="#{not empty inq.label}">
                                <h:link value="#{inq.label}" outcome="showInquiry">
                                    <f:param name="inquiryId" value="#{inq.id}"/>
                                </h:link>
                            </ui:fragment>
                            <ui:fragment rendered="#{empty inq.label}">
                                <h:link value="#{msg.unnamed_query}" outcome="showInquiry">
                                    <f:param name="inquiryId" value="#{inq.id}"/>
                                </h:link>
                            </ui:fragment>
                        </td>
                        <td>#{inq.revision}</td>
                        <td>#{wu:convertTimestamp(inq.created)}</td>
                        <td class="#{wu:expiryImminent(inq) ? 'expiryWarning' : ''}">#{wu:isoToGermanDateString(inq.expires)}</td>
                        <td>
                            <h:outputText value="#{msg[proj.status]}"
                                          rendered="#{proj.status != ProjectStatus.PS_OPEN_MOREINFO_PROVIDED}"/>
                            <h:outputText value="#{msg['PS_OPEN_MOREINFO_PROVIDED_USER']}"
                                          rendered="#{proj.status == ProjectStatus.PS_OPEN_MOREINFO_PROVIDED}"/>
                        </td>
                        <td>#{wu:getProjectApplicationNumber(inq.projectId)}</td>
                    </tr>
                </ui:repeat>
                </tbody>
            </table>
        </h:form>
    </ui:define>
</ui:composition>