<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ssb="http://xmlns.jcp.org/jsf/composite/samply-share-broker"
      xmlns:ssc="http://xmlns.jcp.org/jsf/composite/samply-share-common"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:wu="http://share.samply.de/webutils">

<h:head>
    <title>#{wu:getDisplayName()} - #{msg.decentralSearch}</title>

    <h:outputStylesheet name="webjars/lato/0.3.0/css/lato.css"/>
    <h:outputStylesheet name="css/signin.css"/>

    <h:outputStylesheet name="webjars/font-awesome/4.7.0/css/font-awesome.css"/>

    <h:outputStylesheet name="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <h:outputStylesheet name="webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min-jsf.css"/>
    <h:outputStylesheet name="webjars/select2/4.0.3/dist/css/select2.min.css"/>
    <h:outputStylesheet name="css/samply.css"/>
    <h:outputStylesheet name="css/samplyShareBroker.css"/>
    <h:outputScript target="body">
        maxInitValues( #{session.lastAccessedTime}, #{session.maxInactiveInterval} - 30, '#{msg.session_timeout_one}',
        '#{msg.session_timeout_two}', '#{msg.session_timeout_two_min}', '#{msg.session_timeout_one_under}'
        );
        addChangeHandlers();

        function addChangeHandlers() {
        $('.sortableItemPanel').on('change', '.formItem :input', function() {
        $('.saved').hide();
        });
        $('#page-wrapper').on('keypress', '.formItem :input', function() {
        $('.saved').hide();
        });
        }
    </h:outputScript>

</h:head>
<h:body class="background broker">

    <!-- JavaScript - load these before the composite components (that also have javascript functions) -->
    <h:outputScript name="webjars/jquery/1.11.1/jquery.min.js" target="head"/>
    <h:outputScript name="webjars/jquery-ui/1.12.1/jquery-ui.js" target="head"/>
    <h:outputScript name="webjars/jquery-ui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js" target="head"/>
    <h:outputScript name="js/fadein.js" target="head"/>
    <h:outputScript name="js/scroll.js" target="head"/>
    <h:outputScript name="webjars/select2/4.0.3/dist/js/select2.min.js" target="head"/>
    <h:outputScript name="js/fancySelectBox.js"/>
    <h:outputScript name="js/json2.js"/>
    <h:outputScript name="js/sessionTimeout.js" target="head"/>

    <div class="page-wrapper" style="overflow: hidden;">

        <ssb:menu/>

        <h:form id="localValuesForm">
            <!-- also remember values from step 1 in DOM -->
            <h:inputHidden id="description"
                           value="#{searchDetailsBean.inquiryDescription}"/>
            <h:inputHidden id="serializedQuery"
                           value="#{SearchController.serializedQuery}"/>
            <h:inputHidden id="inquiryName"
                           value="#{searchDetailsBean.inquiryName}"/>
            <o:commandScript name="submitLocallyStoredValues"
                             execute="@form"/>
        </h:form>

        <div class="row screenHeight content-container">
            <ssc:queryBuilder title="#{msg.queryBuilderTitle}"
                              cancelOutcome="dashboard.xhtml"
                              storeAction="#{SearchController.onSubmit}"
                              storeAndReleaseAction="#{SearchController.onStoreAndRelease}"
                              backAction="#{SearchController.serializeQueryAndGoToDetails}"
                              catalogueBaseUrl="/rest/api/catalogues"/>
            <!--selectViewFieldsAction="#{SearchController.serializeQueryAndGoToViewFieldSelection}"-->

        </div>

    </div>
    <h:outputScript name="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"/>

</h:body>
</html>