<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:ssb="http://xmlns.jcp.org/jsf/composite/samply-share-broker"
      xmlns:pass="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ssc="http://xmlns.jcp.org/jsf/composite/samply-share-common"
      xmlns:wu="http://share.samply.de/webutils"
      xmlns:mf="http://xmlns.jcp.org/jsf/composite/mdrfaces">

<h:head>
    <title>#{wu:getDisplayName()} - #{msg.decentralSearch}</title>

    <h:outputStylesheet name="webjars/bootstrap/3.3.7-1/css/bootstrap.css"/>
    <h:outputStylesheet name="webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min-jsf.css"/>
    <h:outputStylesheet name="webjars/lato/0.3.0/css/lato.css"/>
    <h:outputStylesheet name="webjars/font-awesome/4.7.0/css/font-awesome.css"/>

    <h:outputStylesheet name="webjars/jquery-ui/1.12.1/jquery-ui.css"/>

    <!-- Custom styles for this template -->
    <h:outputStylesheet name="css/signin.css"/>
    <h:outputStylesheet name="webjars/select2/4.0.3/dist/css/select2.min.css"/>
    <h:outputStylesheet name="css/samply.css"/>
    <h:outputStylesheet name="css/samplyShareBroker.css"/>
    <h:outputStylesheet name="webjars/animate.css/3.5.2/animate.css"/>
    <h:outputStylesheet name="css/fileinput.min.css"/>
    <h:outputScript target="body">
        maxInitValues( #{session.lastAccessedTime}, #{session.maxInactiveInterval} - 30, '#{msg.session_timeout_one}',
        '#{msg.session_timeout_two}', '#{msg.session_timeout_two_min}', '#{msg.session_timeout_one_under}'
        );
        setEBStrings('#{msg.js_reallyDelete}', '#{msg.js_delete}', '#{msg.js_browseLabelString}', '#{msg.js_removeLabelString}', '#{msg.js_uploadLabelString}', '#{msg.js_uploadTitleString}');
    </h:outputScript>

</h:head>
<h:body class="background broker">
    <h:outputScript name="webjars/jquery/1.11.1/jquery.min.js" target="head"/>
    <h:outputScript name="webjars/jquery-ui/1.12.1/jquery-ui.min.js" target="head"/>
    <h:outputScript name="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js" target="head"/>
    <h:outputScript name="js/fadein.js" target="head"/>
    <h:outputScript name="js/scroll.js" target="head"/>
    <h:outputScript name="webjars/select2/4.0.3/dist/js/select2.min.js" target="head"/>
    <h:outputScript name="js/fancySelectBox.js"/>
    <h:outputScript name="webjars/metisMenu/2.7.0/metisMenu.min.js"/>
    <h:outputScript name="js/json2.js"/>
    <h:outputScript name="webjars/jquery-blockui/2.70/jquery.blockUI.js" target="head"/>
    <h:outputScript library="js" name="fileinput.min.js" target="head"/>
    <h:outputScript name="webjars/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"/>
    <ui:fragment rendered="#{wu:getProjectName() == 'dktk'}">
        <h:outputScript library="js" name="locales/fileinput_locale_de.js" target="head"/>
    </ui:fragment>
    <h:outputScript library="js" name="pages/search_details.js"/>

    <div class="page-wrapper">

        <ssb:menu></ssb:menu>

        <h:form id="localValuesForm">
            <h:inputHidden id="serializedQuery"
                           value="#{searchDetailsBean.serializedQuery}"/>
            <!-- submits only query for next step, the other values are restored
                in the DOM and submitted with the newQueryForm -->
            <o:commandScript name="submitLocallyStoredValues"
                             execute="@form"/>
        </h:form>

        <div class="row screenHeight content-container">

            <div style="height: 100%;">

                <div class="col-sm-12 content-left">

                    <div class="fadein" id="page-wrapper" style="padding: 20px;">


                        <div class="panel panel-info" id="searchIntro">
                            <div class="panel-heading">
                                #{msg.newInquiryIntroHeader}
                                <button type="button" class="close collapseToggle" aria-label="Close"
                                        onclick="$('#searchIntro > .panel-body').collapse('toggle');">
                                    <span><i class="fa fa-question"/></span>
                                </button>
                            </div>
                            <div class="panel-body collapse">
                                <p>#{msg.newInquiryIntroBegin}:</p>
                                <ul>
                                    <li>#{msg.newInquiryIntroCriteria}</li>
                                    <li>#{msg.newInquiryIntroDescription}</li>
                                    <li>#{msg.newInquiryIntroExpose}</li>
                                </ul>
                                <p>#{msg.newInquiryIntroEnd1}</p>
                                <p>#{msg.newInquiryIntroEnd2}</p>
                                <p>#{msg.newInquiryIntroEnd3}</p>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-body">

                                <ui:include src="/components/c_exposeUpload.xhtml"/>

                                <ui:fragment rendered="#{wu:getProjectName() == 'dktk'}">
                                    <h:form>
                                        <div class="form-group">
                                            <label for="cooperationAvailable">#{msg.cooperatingSitesAvailable}</label>
                                            <h:selectBooleanCheckbox id="cooperationAvailable"
                                                                     value="#{searchDetailsBean.cooperationAvailable}"
                                                                     style="margin-left: 5px;">
                                                <f:ajax event="click" execute="@this"
                                                        onevent="handleCooperationAvailableChange"/>
                                            </h:selectBooleanCheckbox>
                                        </div>
                                    </h:form>

                                    <ui:include src="/components/c_voteUpload.xhtml"/>
                                </ui:fragment>

                                <h:form role="form" enctype="multipart/form-data" prependId="false" id="newQueryForm">

                                    <div class="form-group">
                                        <label for="name">#{msg.inquiryLabel}</label>
                                        <h:inputText id="name" styleClass="form-control"
                                                     value="#{searchDetailsBean.inquiryName}"/>
                                    </div>
                                    <div class="form-group descriptionDiv">
                                        <label for="description">#{msg.description} -
                                            <i>#{msg.descriptionLimit}</i></label>
                                        <h:inputTextarea id="description" rows="5" cols="60" styleClass="form-control"
                                                         pass:maxlength="3000"
                                                         value="#{searchDetailsBean.inquiryDescription}"
                                                         style="resize: vertical;"/>

                                        <h:outputText value="#{msg.charsRemaining}: "/><span
                                            id="description_remaining"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="siteSelect">#{msg.distribute_to}
                                            <i>(#{msg.yourSite}: <span id="loggedUserSite">#{loginController.userSiteName}</span>)</i></label>
                                        <!-- converter="omnifaces.SelectItemsConverter" -->
                                        <h:selectManyMenu value="#{searchDetailsBean.selectedSites}" id="siteSelect"
                                                          styleClass="form-control">
                                            <f:selectItems value="#{searchDetailsBean.sites}" var="site"
                                                           itemLabel="#{wu:getExtendedNamespace(site.name)}"
                                                           itemValue="#{site.id}"
                                                            />
                                        </h:selectManyMenu>

                                        <div style="margin-top:5px;">
                                            <button type="button"
                                                    class="js-programmatic-multi-set-val btn btn-xs btn-default">#{msg.co_selectAll}</button>
                                            <button type="button"
                                                    class="js-programmatic-multi-clear btn btn-xs btn-default">#{msg.co_deselectAll}</button>
                                            <ui:fragment rendered="#{not empty loginController.userSiteName}">
                                                <button type="button"
                                                        class="js-programmatic-select-own btn btn-xs btn-default">#{msg.co_ownSiteOnly}</button>
                                            </ui:fragment>
                                        </div>
                                    </div>
<!--                                    <ui:fragment rendered="#{wu:getProjectName() == 'dktk'}">-->
<!--                                        <div class="form-group resultTypes">-->
<!--                                            <label for="resultType">#{msg.resultType}</label>-->
<!--                                            &lt;!&ndash; converter="omnifaces.SelectItemsConverter" &ndash;&gt;-->
<!--                                            <mf:mdrInput id="resultType" mdrId="#{wu:getResultTypeMdrKey()}"-->
<!--                                                         inputType="SELECT_MANY_CHECKBOX"-->
<!--                                                         value="#{searchDetailsBean.resultTypes}"-->
<!--                                                         styleClass="form-control"/>-->
<!--                                        </div>-->
<!--                                    </ui:fragment>-->

                                    <h:messages escape="false" id="messages" showDetail="true" />
                                    <!-- Buttons -->
                                    <div class="row">
                                        <div class="col-sm-12" style="padding-top: 10px;">

                                            <h:link outcome="dashboard.xhtml"
                                                    value="#{msg['queryBuilder.cancel']}"
                                                    class="btn btn-danger cancelButton"/>

                                            <span class="pull-right">

												<!-- Save Button -->
                                                <h:commandButton id="storeButton" value="#{msg['query_store']}"
                                                                 styleClass="btn btn-default buttonMargin saveButton"
                                                                 pass:data-loading-text="#{msg['pleaseWait']}..."
                                                                 action="#{SearchController.onSubmit}"
                                                                 onclick="$(this).button('loading'); $('#nextButton').prop('disabled', true);">
												</h:commandButton>

                                                <!-- Go to Querybuilder -->
                                                <h:commandButton id="nextButton" value="#{msg['next']}"
                                                                 styleClass="btn btn-success buttonMargin saveButton"
                                                                 pass:data-loading-text="#{msg['pleaseWait']}..."
                                                                 action="#{searchDetailsBean.goToQueryBuilder}"
                                                                 onclick="$(this).button('loading'); $('#storeButton').prop('disabled', true);"/>
                                            </span>
                                        </div>
                                    </div>

                                    <!-- Save and Logout Commandscript -->
                                    <o:commandScript name="storeAndLogout"
                                                     action="#{SearchController.onStoreAndLogut}"
                                                     execute="@form"
                                    />
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ssc:sessionTimeoutModal/>
        <ssc:pleaseWaitModal/>

    </div>
</h:body>
</html>