<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:ssc="http://xmlns.jcp.org/jsf/composite/samply-share-common"
                xmlns:wu="http://share.samply.de/webutils">

    <ui:define name="title">
        <h:outputText value="#{wu:getDisplayName()} - #{msg.inquiry}"/>
    </ui:define>

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="inquiryId" value="#{inquiryController.selectedInquiryId}"/>
            <f:event type="preRenderView" listener="#{inquiryController.loadInquiry}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="additional-css">
        <h:outputStylesheet
                name="webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
        <h:outputStylesheet name="css/fileinput.min.css"/>
    </ui:define>

    <ui:define name="additional-js">
        <h:outputScript name="webjars/momentjs/2.18.1/min/moment-with-locales.min.js" target="head"/>
        <h:outputScript name="webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"
                        target="head"/>
        <h:outputScript library="js" name="fileinput.min.js" target="head"/>
        <h:outputScript library="js" name="locales/fileinput_locale_de.js" target="head"/>
        <h:outputScript library="js" name="documentBox.js" target="head"/>
    </ui:define>

    <ui:define name="optional-import-constants">
        <o:importConstants type="de.samply.share.broker.model.db.enums.InquiryStatus"/>
        <o:importConstants type="de.samply.share.broker.model.db.enums.DocumentType"/>
    </ui:define>

    <ui:define name="page-header">
        <ui:param name="isDraft" value="#{inquiryController.selectedInquiry.status == InquiryStatus.IS_DRAFT}"/>
        <h:form>
            <o:messages escape="false" id="messages" showDetail="true" var="message">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&#xd7;</span>
                    </button>
                    <p style="font-weight: bold;">#{msg[message.summary]}</p>
                    <ul>
                        <ui:repeat var="entry" value="#{fn:split(message.detail, ',')}">
                            <li>#{msg[entry]}</li>
                        </ui:repeat>
                    </ul>
                </div>
            </o:messages>
            <h2>#{inquiryController.selectedInquiry.label} <span class="badge"
                                                                 style="vertical-align:middle;">Rev. #{inquiryController.selectedInquiry.revision}</span>
                <h:panelGroup styleClass="badge"
                              style="background-color: #68a3e0; color: white;vertical-align:middle; margin-left: 5px;"
                              rendered="#{isDraft}">DRAFT</h:panelGroup>
                <small>
                    <span class="pull-right">
                        <h:commandButton styleClass="btn btn-md btn-primary" style="margin-left: 5px;"
                                         value="#{msg['inquiry_export']}" id="export" type="submit"
                                         action="#{inquiryController.exportInquiry}"/>
                    </span>
                    <ui:fragment rendered="#{isDraft}">
                        <div class="pull-right">
                            <ui:fragment rendered="#{inquiryController.deleteable}">
                                <h:commandLink action="#{inquiryController.deleteSelectedInquiry()}"
                                               styleClass="btn btn-md btn-danger deleteButton"
                                               onclick="$(this).addClass('disabled').button('Please wait'); $('.editButton').addClass('disabled'); $('.releaseButton').addClass('disabled');">
                                    <span><h:outputText value="#{msg['deleteInquiry']}"/></span>
                                </h:commandLink>
                            </ui:fragment>
                            <h:commandLink
                                    action="#{SearchController.releaseInquiry(inquiryController.selectedInquiry.id)}"
                                    styleClass="btn btn-md btn-success releaseButton" style="margin-left: 10px;"
                                    onclick="$(this).addClass('disabled').button('Please wait'); $('.editButton').addClass('disabled'); $('.deleteButton').addClass('disabled');">
                                <span><h:outputText value="#{msg['releaseInquiry']}"/></span>
                            </h:commandLink>
                            <h:commandLink
                                    action="#{searchDetailsBean.editQueryGotoStep1(inquiryController.selectedInquiry.id)}"
                                    styleClass="btn btn-md btn-info editButton" style="margin-left: 10px;"
                                    onclick="$(this).addClass('disabled').button('Please wait'); $('.releaseButton').addClass('disabled'); $('.deleteButton').addClass('disabled');">
                                <span><h:outputText value="#{msg['editInquiry']}"/></span>
                            </h:commandLink>
                        </div>
                    </ui:fragment>
                </small>
            </h2>
            <ui:fragment rendered="#{!isDraft}">
                <p>
                    <h:outputText
                            value="#{msg.expires_at} #{wu:isoToGermanDateString(inquiryController.selectedInquiry.expires)}"
                            styleClass="#{wu:expiryImminent(inquiryController.selectedInquiry) ? 'expiryWarning' : ''}"/>
                    <h:commandLink value="" title="#{msg.extendInquiry}">
                        <i class="fa fa-fw fa-refresh"/>
                        <f:ajax listener="#{inquiryController.extendSelectedInquiry()}" render="@form"/>
                    </h:commandLink>
                    <h:commandLink value="" title="#{msg.expireInquiry}"
                                   rendered="#{wu:isInquiryStillActive(inquiryController.selectedInquiry)}">
                        <i class="fa fa-fw fa-ban" style="color: red;"/>
                        <f:ajax listener="#{inquiryController.expireSelectedInquiry()}" render="@form"/>
                    </h:commandLink>
                </p>
            </ui:fragment>
        </h:form>
    </ui:define>

    <ui:define name="main-content">
        <ui:param name="isDraft" value="#{inquiryController.selectedInquiry.status == InquiryStatus.IS_DRAFT}"/>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <ui:include src="/components/c_descriptionInquiry.xhtml"/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12">
                        <ui:include src="/components/c_sites.xhtml"/>
                    </div>
                </div>
                <ui:fragment rendered="#{not empty inquiryController.selectedInquiry.projectId}">
                    <ui:fragment rendered="#{not empty inquiryController.partnersForSelectedInquiry}">
                        <div class="row">
                            <div class="col-lg-12">
                                <ui:include src="/components/c_projectPartners.xhtml"/>
                            </div>
                        </div>
                    </ui:fragment>
                    <div class="row">
                        <div class="col-lg-12">
                            <ui:include src="/components/c_documents.xhtml"/>
                        </div>
                    </div>
                </ui:fragment>
            </div>
        </div>

        <ui:fragment rendered="#{not empty ProjectController.callbacks}">
            <div class="row">
                <div class="col-lg-12">
                    <ui:include src="/components/c_callbacks.xhtml"/>
                </div>
            </div>
        </ui:fragment>

        <div class="row">
            <div class="col-lg-12">
                <h3>#{msg.co_searchCriteria}</h3>
                <h:form>
                    <ssc:query queryTree="#{inquiryController.criteriaTree}"/>
                </h:form>
                <br/>
            </div>
        </div>
    </ui:define>
</ui:composition>