<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:wu="http://share.samply.de/webutils">

    <ui:define name="title">
        <h:outputText value="#{wu:getDisplayName()} - #{msg.inquiry_stored}"/>
    </ui:define>

    <ui:define name="page-header">
        <h1>#{msg.inquiry_stored}</h1>
        <p>#{msg.querySubmitted}</p>
    </ui:define>

    <ui:define name="main-content">
        <h4>
            <h:outputLink value="dashboard.xhtml">#{msg.back_to_overview}</h:outputLink>
        </h4>
    </ui:define>

</ui:composition>
