/* Global Styles */
@media (min-width: 1600px) {
  .container {
    width: 1570px !important;
  }
}

html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

.page-wrapper {
/*     overflow: hidden; */
    overflow: auto;
    width: 100%;
    min-width: 550px;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #FAFAFA;
    /*padding 25px 0;*/
}

#wrapper {
    padding-left: 0;
}

/* .screenHeight { */
/*     height: 100%; */
/* } */

.screenHeight {
	/* Fallback for Browsers that don't support calc (*cough* IE *cough*) Approximation*/
	height: 92%;
	/* Firefox */
	height: -moz-calc(100% - 60px);
	/* WebKit */
	height: -webkit-calc(100% - 60px);
	/* Opera */
	height: -o-calc(100% - 60px);
	/* Standard */
	height: calc(100% - 60px);
}

/* Nav Messages */
.messages-dropdown .dropdown-menu .message-preview .avatar, .messages-dropdown .dropdown-menu .message-preview .name,
    .messages-dropdown .dropdown-menu .message-preview .message, .messages-dropdown .dropdown-menu .message-preview .time {
    display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
    float: left;
    margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
    font-weight: bold;
    color: #40628B;
}

.messages-dropdown .dropdown-menu .message-preview .message {
    font-size: 12px;
    color: #194166;
}

.messages-dropdown .dropdown-menu .message-preview .time {
    font-size: 8.5pt;
    color: #616263;
}

.messages-dropdown .dropdown-menu .message-preview .msg-body {
    display: inline-block;
    line-height: 20px;
    white-space: normal;
    vertical-align: middle;
    max-width: 175px;
}

/* Nav Announcements */
.announcement-heading {
    font-size: 50px;
    margin: 0;
}

.announcement-text {
    margin: 0;
}

/* Table Headers */
table.tablesorter thead {
    cursor: pointer;
}

table.tablesorter thead tr th:hover {
    background-color: #f5f5f5;
}

/* Edit Below to Customize Widths > 768px */
@media ( min-width :768px) {
    /* Wrappers */
    #wrapper {
        padding-left: 225px;
    }
    #page-wrapper {
        padding: 20px 0px;
    }

    /* Side Nav */
    .side-nav {
        margin-left: -225px;
        left: 225px;
        width: 225px;
        position: fixed;
        top: 50px;
        height: 100%;
        border-radius: 0;
        border: none;
        background-color: #F1F1F1;
        overflow-y: auto;
        border-right: 1px solid #dfdfdf;
    }
    .side-nav>li.active>a, .side-nav>li.dropdown>ul.dropdown-menu>li.active>a {
        background: white !important;
        box-shadow: 0 0 3px rgba(0, 0, 0, .15) inset;
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .15) inset;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .15) inset;
        border-top-color: #dfdfdf;
        border-bottom-color: #dfdfdf;
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        border-left: 3px solid #428bca;
        color: #555;
    }

    /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */
    .side-nav>li.dropdown>ul.dropdown-menu {
        position: relative;
        min-width: 225px;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .side-nav>li.dropdown>ul.dropdown-menu>li>a {
        color: #7A7A7A;
        padding: 15px 15px 15px 25px;
    }
    .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover, .side-nav>li.dropdown>ul.dropdown-menu>li>a.active, .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus
        {
        background-color: #D1E6F3;
        color: #333333;
    }
    .side-nav>li>a {
        width: 225px;
    }
    .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
        background-color: #45515F !important;
    }

    /* Nav Messages */
    .messages-dropdown .dropdown-menu {
        min-width: 300px;
    }
    .messages-dropdown .dropdown-menu li a {
        white-space: normal;
    }
    .title {
        font-size: large;
        color: #2B2B2B;
    }
    .titleOrange {
        font-size: large;
        color: #DD5D37;
        font-weight: bold;
        font-family: 'Play', sans-serif;
    }
    .subtitle {
        color: black;
        text-align: right;
        font-size: small;
    }
}

.userLoginDropdown {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

/* make navbar fixed on mobile and with no scroll */
@media ( max-width : 767px) {
    .navbar-fixed-top {
        position: relative;
        top: auto;
    }
    .navbar-collapse {
        max-height: none;
    }
    body {
        margin: 0 !important;
    }
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #C7C7C7;
}

.navbar-user {
    padding: 0px 15px;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid rgba(207, 70, 29, 0.32);
}

.listHeader {
    padding-bottom: 9px;
    margin: 15px 0 10px;
    border-bottom: 1px solid #eee;
    font-size: 25px;
    color: rgb(94, 94, 94);
}

.marginLeft10 {
    margin-left: 10px;
}

.marginRight5 {
    margin-right: 5px;
}

.marginRight8 {
    margin-right: 8px;
}

.blue {
    color: rgb(85, 120, 207);
}

.iconRightMargin {
    margin-right: 12px;
}

.formListUser {
    padding-left: 10px;
    color: gray;
}

.formListDescription {
    margin-left: 24px;
    color: rgb(95, 98, 102);
    font-size: 9pt;
}

table.formSubList td>a {
    font-weight: bold;
    font-size: 11pt;
}

table.formSubList td {
    vertical-align: middle !important;
}

table.formSubList td.small {
    font-size: 10pt;
}

.select2-container-multi .select2-choices .select2-search-choice {
    color: #3D6D92;
    background: #f4f9ff;
    border-color: #A8C5DB;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select2-container-multi .select2-choices .select2-search-choice {
    margin-top: 5px;
    margin-bottom: 3px;
    line-height: normal;
}

.navbar-inverse {
    background-color: #2F3946;
    border-color: #45515F;
}

.disabledCriteriaDiv > .formItem {
    margin-left: 0;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.sortableArrow {
    color: rgba(190, 207, 221, 0.51);
    font-size: 20px;
}

.formItem>fieldset {
    padding-left: 0px;
}

.itemSearchPanel {
    border-left: 1px dashed #C9C9C9;
/*     background-color: #F8F8F8; */
    background-color: #d9edf7;
}

.selectBox>ul.select2-choices {
    display: block;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* to make it look like bootstrap input field */
.select2-container-multi .select2-choices {
    border: 0px solid #ccc;
}

.selectBox>ul>* {
    padding: 0px;
    margin: 0px;
}

/*.formItemLabel {
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}*/

/*.formItemLabel:focus {
    border: 1px solid #66afe9;
    background-color: #fff;
}*/

/* height fix for the rich text editor */
div.note-editor .fa {
    line-height: 1.5;
}

div.note-editor .dropdown-toggle {
    height: 30px;
}

.note-editor div {
    cursor: auto;
    background-color: white;
}

.button-checkbox button {
    margin: 2px 0px;
}
.head-nav>li>a {
    color: white;
}

.head-nav>li>a:hover, .head-nav>li>a:focus {
    text-decoration: none;
    background-color: transparent !important;
}

hr {
    border-top: 1px solid #c1c0c0;
    margin-top: 60px;
}

.navbar {
    background-color: #68A3E0;
    height: 60px;
    -webkit-box-shadow: inset 0px -5px 5px 0px rgba(100, 100, 100, 0.75);
    -moz-box-shadow: inset 0px -5px 5px 0px rgba(100, 100, 100, 0.75);
    box-shadow: inset 0px -5px 5px 0px rgba(100, 100, 100, 0.75);
}

.content-container {
    margin-top: 60px;
}

.content-left {
	overflow: auto;
	height: 100%;
}

.page-wrapper > .row {
	margin-right: 0;
}

.no-border-radius-right {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}