.darkBackground {
    background: #2b2b2b;
    color: white;
}

.gradientBackground {
    color: #5b5a5a;
    background-color: #969696;
    background: -webkit-linear-gradient(#EEEEEE, #969696);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EEEEEE, #969696);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EEEEEE, #969696);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EEEEEE, #969696);
    /* Standard syntax (must be last) */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
        startColorstr='#EEEEEE', endColorstr='#969696'); /*For IE7-8-9*/
}

.background {
    color: #5b5a5a;
    background: #555555;
}

.navbar-brand .title {
    font-size: large;
    color: white;
}

.navbar-brand .titleBlack {
    font-size: large;
    color: black;
}

.navbar-brand .titleOrange {
    font-size: large;
    color: #ef8660;
    font-weight: bold;
}

.navbar-brand .titleBlue {
    font-size: large;
    color: #C6D8E2;
    font-weight: bold;
}

.navbar-brand .titleDarkBlue {
    font-size: large;
    color: #628599;
}

.navbar-brand .titleGreen {
    font-size: large;
    color: #A1DDBE;
    font-weight: bold;
}

.navbar-brand .titleDarkGreen {
    font-size: large;
    color: #62997C;
}

.navbar-brand .titleGrey {
    font-size: large;
    color: #4D4D4D;
    font-weight: bold;
}

.navbar-brand .titleDarkGrey {
    font-size: large;
    color: #555555;
}

.subtitle {
    color: black;
    text-align: right;
    font-size: small;
}

.logo {
    margin-top: 8px;
}

label {
    font-weight: normal;
}

.right-aligned-label {
    text-align: right;
    padding-top: 4px;
    height: 27px
}

.form-group {
/*     padding-bottom: 25px; */
}

.page-header {
    margin: 40px 0 26px;
}

.form-space {
    margin-bottom: 30px;
}

.head-nav>li>a {
    color: white;
}

.itemSearchPanel li>a {
    color: black;
}

.head-nav>li>a:hover, .head-nav>li>a:focus {
    text-decoration: none;
    background-color: transparent !important;
}

hr {
    border-top: 1px solid #c1c0c0;
    margin-top: 60px;
}

.smallCriteria .panel-body {
	padding: 0;
	font-size: 80%;
}

.smallCriteria .formItem {
    padding: 5px 0;
    margin-bottom: 0;
    border-left: 1px solid rgba(95, 122, 207, 1);
}

.smallCriteria .row {
	margin: 0;
}

.smallCriteria .col-xs-12 {
	padding: 0;
}

.smallCriteria .dataElementField {
	font-size: 100%;
}

.project-panel, .new-inquiry-panel {
	cursor: pointer;
}

.project-panel:hover {
    background-color: #C2E0EF;
}

.new-inquiry-panel > .panel-heading:hover {
    background-color: #68A3E0;
}

.project-text {
	font-weight: bold;
	font-size: 1.3em;
}

.expiryWarning {
	font-weight: bold;
	color: red;
}

span.select2.select2-container.select2-container--default {
	height: auto !important;
}

table.form-control td {
    background-color: white !important;
}

.buttonMargin {
    margin-left: 8px;
}

.resultTypes table {
    padding-left: 10px !important;
}