<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:ssb="http://xmlns.jcp.org/jsf/composite/samply-share-broker">

    <ui:define name="title">
        <h:outputText value="Admin area" />
    </ui:define>

    <ui:define name="menu">
        <ssb:admin_menu/>
    </ui:define>

    <ui:define name="main-content">
        <h:form>
            <h:messages showDetail="true" showSummary="true" id="messages" globalOnly="true"/>
        </h:form>
        <div class="well well-lg">
            The highlighted lines have not yet been approved (user-set). Set the approval with the checkboxes.
        </div>

        <h3>Bank-Site assignment</h3>
        <h:form styleClass="form-horizontal" role="form" id="bankForm">
            <ui:repeat var="bank" value="#{assignmentBean.banks}">
                <ui:param name="bankSiteInfo" value="#{assignmentBean.getSiteInfoForBank(bank)}"/>
                <div class="form-group #{bankSiteInfo.approved ? '' : 'bg-success'}">
                    <label class="col-sm-4 control-label">
                        #{bank.email}
                    </label>
                    <div class="col-lg-7">
                        <h:selectOneMenu value="#{bankSiteInfo.id}" styleClass="form-control"
                                         valueChangeListener="#{assignmentBean.changeBankSites}">
                            <f:selectItem noSelectionOption="true"/>
                            <f:selectItems value="#{assignmentBean.sites}" var="site" itemValue="#{site.id}"
                                           itemLabel="#{site.name}"/>
                            <f:attribute name="bank" value="#{bank}"/>
                        </h:selectOneMenu>
                    </div>
                    <h:selectBooleanCheckbox value="#{bankSiteInfo.approved}"
                                             valueChangeListener="#{assignmentBean.changeBankSiteAssignment}">
                        <f:attribute name="bank" value="#{bank}"/>
                    </h:selectBooleanCheckbox>
                </div>
            </ui:repeat>
            <h:commandLink value="Apply" styleClass="btn btn-lg btn-success pull-right"/>
        </h:form>

        <div style="margin-top: 50px;"/>

        <h3>User-Site assignment</h3>
        <h:form styleClass="form-horizontal" role="form" id="userForm">
            <ui:repeat var="user" value="#{assignmentBean.users}">
                <ui:param name="userSiteInfo" value="#{assignmentBean.getSiteInfoForUser(user)}"/>
                <div class="form-group #{userSiteInfo.approved ? '' : 'bg-success'}">
                    <label class="col-sm-4 control-label"> #{user.email} </label>
                    <div class="col-lg-7">
                        <h:selectOneMenu value="#{userSiteInfo.id}" styleClass="form-control"
                                         valueChangeListener="#{assignmentBean.changeUserSites}">
                            <f:selectItem itemValue="0" itemLabel="Keinem Standort zuordnen"/>
                            <f:selectItems value="#{assignmentBean.sites}" var="site" itemValue="#{site.id}"
                                           itemLabel="#{site.name}"/>
                            <f:attribute name="user" value="#{user}"/>
                        </h:selectOneMenu>
                    </div>
                    <h:selectBooleanCheckbox value="#{userSiteInfo.approved}"
                                             valueChangeListener="#{assignmentBean.changeUserSiteAssignment}">
                        <f:attribute name="user" value="#{user}"/>
                    </h:selectBooleanCheckbox>
                </div>
            </ui:repeat>
            <h:commandLink value="Apply" styleClass="btn btn-lg btn-success pull-right"/>
        </h:form>
    </ui:define>
</ui:composition>