<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:wu="http://share.samply.de/webutils"
      xmlns:ssc="http://xmlns.jcp.org/jsf/composite/samply-share-common"
      xmlns:ssb="http://xmlns.jcp.org/jsf/composite/samply-share-broker">

<h:head>
    <ui:insert name="metadata"/>
    <title>
        <h:outputText value="#{wu:getDisplayName()} - "/>
        <ui:insert name="title">
            <h:outputText value="??? MISSING PAGE TITLE ???"/>
        </ui:insert>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <h:outputStylesheet name="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <h:outputStylesheet name="webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css"/>
    <h:outputStylesheet name="webjars/jquery-ui/1.12.1/jquery-ui.css"/>
    <h:outputStylesheet name="webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <h:outputStylesheet name="webjars/lato/0.3.0/css/lato.min.css"/>

    <h:outputStylesheet name="css/signin.css"/>
    <h:outputStylesheet name="css/samply.css"/>
    <h:outputStylesheet name="css/samplyShareBroker.css"/>

    <ui:insert name="additional-css"/>

    <h:outputScript target="body">
        maxInitValues( #{session.lastAccessedTime}, #{session.maxInactiveInterval} - 30, '#{msg.session_timeout_one}',
        '#{msg.session_timeout_two}', '#{msg.session_timeout_two_min}', '#{msg.session_timeout_one_under}');
    </h:outputScript>


    <h:outputScript name="webjars/jquery/1.11.1/jquery.min.js"/>
    <h:outputScript name="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"/>
    <h:outputScript name="js/sessionTimeout.js" target="head"/>

    <o:conditionalComment if="lt IE 9">
        <h:outputScript name="webjars/html5shiv/3.7.3/html5shiv.min.js"/>
        <h:outputScript name="webjars/respond/1.4.2/dest/respond.min.js"/>
    </o:conditionalComment>

    <ui:insert name="additional-js"/>
    <ui:insert name="optional-import-constants"/>

</h:head>

<h:body class="background">
    <div class="page-wrapper #{pageWrapperAdditionalClass}">
        <ui:insert name="menu">
            <!-- Use the standard user menu as default -->
            <ssb:menu />
        </ui:insert>

        <div class="container content-container theme-showcase">
            <div class="page-header">
                <ui:insert name="page-header">
                    <h1>
                        <ui:insert name="title" />
                    </h1>
                </ui:insert>
            </div>

            <ui:insert name="main-content" />
        </div>
    </div>

    <ssc:sessionTimeoutModal />
</h:body>

</html>
