<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:wu="http://share.samply.de/webutils"
                xmlns:ssb="http://xmlns.jcp.org/jsf/composite/samply-share-broker">
  <ui:define name="title">
    <h:outputText value="error" />
  </ui:define>
  <ui:define name="page-header">
    <h1>#{msg.startup_error}</h1>
  </ui:define>
  <ui:define name="menu">
    <ssb:menu login_disabled="true" />
  </ui:define>

  <ui:define name="main-content">
    <p style="font-size: larger">
      #{msg[wu:getStartupStatus()]}
    </p>
    <p>
      #{wu:getStartupErrorMsg()}
    </p>
  </ui:define>
</ui:composition>