<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:mf="http://xmlns.jcp.org/jsf/composite/mdrfaces"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:wu="http://share.samply.de/webutils">

    <h:outputStylesheet name="css/queryBuilder.css"/>

    <h:panelGroup layout="block" styleClass="panel panel-default collapsePanel" id="criteriaPanel">
        <div class="panel-heading">
            <h3 class="panel-title">#{msg['co_searchCriteria']}
                <button type="button" class="close collapseToggle" aria-label="Close"
                        onclick="$('#criteriaPanel > .panel-body').collapse('toggle');">
                    <span><i class="fa fa-chevron-right"/></span>
                </button>
            </h3>
        </div>
        <div class="panel-body collapse">
            <o:tree value="#{ProjectController.criteriaTree}" var="item" varNode="node">
                <o:treeNode>
                    <o:treeNodeItem rendered="#{item.mdrId.compareTo('conjunctionGroup') != 0}">
                        <div class="formItem row vertical-center">
                            <div class="col-xs-12">
                                <div class="row">
                                    <h:panelGroup layout="block">
                                        <div class="col-xs-4 mdrItemLabel">
                                            <mf:mdrLabel mdrId="#{item.mdrId}"/>
                                        </div>

                                        <div class="col-xs-2 mdrItemOperator">
                                            <h:outputText value="#{msg[item.operator]}"/>
                                        </div>

                                        <h:panelGroup layout="block" styleClass="values"
                                                      rendered="#{!fn:endsWith(item.operator.name, 'null')}">
                                            <h:panelGroup layout="block" styleClass="valuesSingle"
                                                          rendered="#{!('BETWEEN'.equalsIgnoreCase(item.operator.name))}">
                                                <div class="col-xs-6 mdrItemValue">
                                                    <h:outputText
                                                            value="#{wu:getValueDesignation(item.mdrId, item.value, 'de')}"/>
                                                </div>
                                            </h:panelGroup>

                                            <h:panelGroup layout="block" styleClass="valuesBetween"
                                                          rendered="#{'BETWEEN'.equalsIgnoreCase(item.operator.name)}">
                                                <div class="col-xs-3 mdrItemValue mdrItemValueFrom">
                                                    <h:outputText
                                                            value="#{wu:getValueDesignation(item.mdrId, item.lowerBound, 'de')}"/>
                                                </div>
                                                <div class="col-xs-3 mdrItemValue mdrItemValueTo">
                                                    <h:outputText
                                                            value="#{wu:getValueDesignation(item.mdrId, item.upperBound, 'de')}"/>
                                                </div>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                </div>
                            </div>
                        </div>
                        <o:treeInsertChildren/>
                    </o:treeNodeItem>
                    <o:treeNodeItem rendered="#{item.mdrId.compareTo('conjunctionGroup') == 0}">
                        <div class="formItem row vertical-center conjunctionGroupItem">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-11">
                                        <div class="row conjunctionGroup">
                                            <div class="col-xs-2">
                                                <h:outputText value="#{msg[item.conjunction]}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h:panelGroup layout="block" style="min-height: 50px;">
                                            <div class="groupContent">
                                                <o:treeInsertChildren/>
                                            </div>
                                        </h:panelGroup>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </o:treeNodeItem>
                </o:treeNode>
            </o:tree>
        </div>
    </h:panelGroup>
</ui:composition>