<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:wu="http://share.samply.de/webutils">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">#{msg['co_projectDescription']}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <!--                     <h:outputText value="#{ProjectController.selectedProject.description}" /> -->
                    <h:outputText
                            value="#{wu:getFirstInquiryForProject(ProjectController.selectedProject).description}"/>
                </div>
            </div>
            <hr style="margin: 5px;"/>
            <div class="row">
                <div class="col-lg-12">
                    <h:form>
                        <h:commandLink value="" id="dl_expose" type="submit"
                                       action="#{ProjectController.exportExposee(ProjectController.selectedProject.id)}">
                            <i class="fa fa-file-pdf-o"/> #{msg['co_viewExpose']}
                        </h:commandLink>
                    </h:form>
                </div>
            </div>
        </div>
    </div>
</ui:composition>