<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">DKTK CCP-IT
                #{msg['co_projectManagement']}</h3>
        </div>
        <div class="panel-body">
            #{msg['co_introText']}
            <br/>
            <button type="button" class="btn btn-md btn-info"
                    style="margin-top: 20px;" disabled="disabled">
                <i class="fa fa-question fa-fw fa-lg" style="margin-right: 10px;"/>Anleitung
                (folgt)
            </button>
        </div>
    </div>
</ui:composition>