<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <h:outputScript target="body">
        $(function () {
            var $sites = $('#grantProjectForm\\:siteSelect');
            $sites.select2({
                allowClear: true
            }).on("select2:unselecting", function (e) {
                $(this).data('state', 'unselected');
            }).on("select2:open", function (e) {
                if ($(this).data('state') === 'unselected') {
                    $(this).removeData('state');
                    var self = $(this);
                    setTimeout(function () {
                        self.select2('close');
                    }, 1);
                }
            });
            $(".js-programmatic-multi-set-val").on("click", function () {
                $('#grantProjectForm\\:siteSelect > option').prop("selected", "selected");// Select All Options
                $('#grantProjectForm\\:siteSelect').trigger("change");// Trigger change to select 2
            });
            $(".js-programmatic-multi-clear").on("click", function () {
                $sites.val(null).trigger("change");
            });
            $('#grantProjectForm\\:projectStart').datetimepicker({
                format: "D.M.YYYY",
                viewMode: "months",
                showTodayButton: true,
                locale: 'de',
                calendarWeeks: true
            }).on('dp.change', function (e) {
                $('#grantProjectForm\\:projectEndEstimated').datetimepicker('maxDate', e.date);
            });

            $('#grantProjectForm\\:projectEndEstimated').datetimepicker({
                format: "D.M.YYYY",
                viewMode: "months",
                showTodayButton: true,
                locale: 'de',
                calendarWeeks: true,
                minDate: new Date()
            }).on('dp.change', function (e) {
                $('#grantProjectForm\\:projectStart').datetimepicker('minDate', e.date);
            });
        });
    </h:outputScript>

    <div class="panel panel-default">
        <div class="panel-body">
            <h:form id="grantProjectForm" role="form">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <h:outputLabel for="messageToInquirer" value="#{msg['co_messageToInquirer']}"/>
                            <h:inputTextarea rows="6" pt:placeholder="Nachricht" styleClass="form-control"
                                             id="messageToInquirer"
                                             value="#{ProjectController.newNote}"/>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <h:outputLabel for="siteSelect" value="#{msg['co_sendToSites']}"/>
                            <h:selectManyMenu value="#{ProjectController.selectedSites}" id="siteSelect"
                                              styleClass="form-control" required="true"
                                              requiredMessage="#{msg['siteRequired']}" style="width: 100%">
                                <f:selectItems value="#{ProjectController.sites}" var="site" itemLabel="#{site.name}"
                                               itemValue="#{site.id}"/>
                            </h:selectManyMenu>

                            <div style="margin-top: 5px;">
                                <button type="button"
                                        class="js-programmatic-multi-set-val btn btn-xs btn-default">#{msg['co_selectAll']}</button>
                                <button type="button"
                                        class="js-programmatic-multi-clear btn btn-xs btn-default">#{msg['co_deselectAll']}</button>
                            </div>
                            <h:message id="site_message" for="siteSelect" style="color:red"/>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-12">
                        <h:commandLink action="#{ProjectController.grantProject}" styleClass="btn btn-md btn-success">
                            <i class="fa fa-check fa-fw fa-2x" style="vertical-align: sub;"/>#{msg['co_projectGrant']}
                        </h:commandLink>
                        <h:commandLink styleClass="btn btn-md btn-default" immediate="true" action="projects_new"
                                       style="margin-left: 10px;">
                            <i class="fa fa-times fa-fw fa-2x" style="vertical-align: sub;"/>#{msg['co_cancel']}
                        </h:commandLink>
                    </div>
                </div>
            </h:form>
        </div>
    </div>
</ui:composition>