<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

    <ui:param name="count" value="#{wu:countProjects('PT_ACTIVE')}"/>

    <div class="panel panel-default project-panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <i class="fa fa-exchange fa-5x"/>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <span style="font-size: 400%;">#{count}</span>
                </div>
            </div>
            <hr style="margin: 5px;"/>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 project-text">
                    <ui:fragment rendered="#{count != 1}">#{msg['co_activeProjects']}</ui:fragment>
                    <ui:fragment rendered="#{count == 1}">#{msg['co_activeProject']}</ui:fragment>
                </div>
            </div>
        </div>
    </div>
    <div class="go-to-project" style="display:none;">
        <h:commandLink action="projects_active?faces-redirect=true" value="#{msg['co_viewActiveProjects']}"/>
    </div>
</ui:composition>