<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

    <h:outputScript target="body">
        $(function () {
            var $sites = $('#activateProjectForm\\:partnerSelect');
            $sites.select2({
                allowClear: true
            }).on("select2:unselecting", function (e) {
                $(this).data('state', 'unselected');
            }).on("select2:open", function (e) {
                if ($(this).data('state') === 'unselected') {
                    $(this).removeData('state');
                    var self = $(this);
                    setTimeout(function () {
                        self.select2('close');
                    }, 1);
                }
            });
            $(".js-programmatic-multi-set-val").on("click", function () {
                $('#activateProjectForm\\:partnerSelect > option').prop("selected", "selected");// Select All Options
                $('#activateProjectForm\\:partnerSelect').trigger("change");// Trigger change to select 2
            });
            $(".js-programmatic-multi-clear").on("click", function () {
                $sites.val(null).trigger("change");
            });
            $('#activateProjectForm\\:projectStart').datetimepicker({
                format: "D.M.YYYY",
                viewMode: "months",
                showTodayButton: true,
                locale: 'de',
                calendarWeeks: true,
                useCurrent: false
            }).on('dp.change', function (e) {
                $('#activateProjectForm\\:projectEndEstimated').datetimepicker('minDate', e.date);
            });
            $('#activateProjectForm\\:projectEndEstimated').datetimepicker({
                format: "D.M.YYYY",
                viewMode: "months",
                showTodayButton: true,
                locale: 'de',
                calendarWeeks: true,
                useCurrent: false
            }).on('dp.change', function (e) {
                $('#activateProjectForm\\:projectStart').datetimepicker('maxDate', e.date);
            });
        });
    </h:outputScript>

    <div class="panel panel-default">
        <div class="panel-body">
            <h:form id="activateProjectForm" role="form">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                        <div class="form-group">
                            <h:outputLabel for="projectName" value="#{msg['co_projectName']}"/>
                            <h:inputText styleClass="form-control" id="projectName"
                                         value="#{ProjectController.projectName}" required="true"/>
                        </div>

                        <div class="form-group">
                            <h:outputLabel for="projectStart" value="#{msg['co_projectStart']}"/>
                            <div class="input-group date-picker">
                                <h:inputText id="projectStart" styleClass="form-control"
                                             value="#{ProjectController.startDate}">
                                    <f:convertDateTime pattern="dd.MM.yyyy" timeZone="CET" type="date" locale="de" />
                                </h:inputText>
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <h:outputLabel for="projectEndEstimated" value="#{msg['co_projectEndEstimated']}"/>
                            <div class="input-group date-picker">
                                <h:inputText id="projectEndEstimated" styleClass="form-control"
                                             value="#{ProjectController.endDateEstimated}">
                                    <f:convertDateTime pattern="dd.MM.yyyy" timeZone="CET" type="date" locale="de" />
                                </h:inputText>
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <h:outputLabel for="partnerSelect" value="#{msg['co_projectPartners']}"/>
                            <h:selectManyMenu value="#{ProjectController.projectPartners}" id="partnerSelect"
                                              styleClass="form-control" required="true"
                                              requiredMessage="#{msg['partnersRequired']}" style="width: 100%">
                                <f:selectItems value="#{ProjectController.sites}" var="site" itemLabel="#{site.name}"
                                               itemValue="#{site.id}"/>
                            </h:selectManyMenu>

                            <div style="margin-top: 5px;">
                                <button type="button"
                                        class="js-programmatic-multi-set-val btn btn-xs btn-default">#{msg['co_selectAll']}</button>
                                <button type="button"
                                        class="js-programmatic-multi-clear btn btn-xs btn-default">#{msg['co_deselectAll']}</button>
                            </div>
                            <h:message id="partner_message" for="partnerSelect" style="color:red"/>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-12">
                        <h:commandLink action="#{ProjectController.activateProject}"
                                       styleClass="btn btn-md btn-success">
                            <i class="fa fa-check fa-fw fa-2x"
                               style="vertical-align: sub;"/>#{msg['co_projectActivate']}</h:commandLink>
                        <h:commandLink styleClass="btn btn-md btn-default" immediate="true" action="projects_pending"
                                       style="margin-left: 10px;">
                            <i class="fa fa-times fa-fw fa-2x" style="vertical-align: sub;"/>#{msg['co_cancel']}
                        </h:commandLink>
                    </div>
                </div>
            </h:form>
        </div>
    </div>
</ui:composition>