<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <div class="panel panel-default">
        <div class="panel-body">
            <h:form role="form">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <h:outputLabel for="messageToInquirer" value="#{msg['co_messageToInquirer']}"/>
                            <h:inputTextarea rows="6" pt:placeholder="Nachricht" styleClass="form-control"
                                             id="messageToInquirer"
                                             value="#{ProjectController.newNote}"/>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-12">
                        <h:commandLink action="#{ProjectController.rejectProject}" styleClass="btn btn-md btn-danger">
                            <i class="fa fa-ban fa-fw fa-2x" style="vertical-align: sub;"/>#{msg['co_projectReject']}
                        </h:commandLink>
                        <h:commandLink styleClass="btn btn-md btn-default" immediate="true" action="projects_new"
                                       style="margin-left: 10px;">
                            <i class="fa fa-times fa-fw fa-2x" style="vertical-align: sub;"/>#{msg['co_cancel']}
                        </h:commandLink>
                    </div>
                </div>
            </h:form>
        </div>
    </div>
</ui:composition>