<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:wu="http://share.samply.de/webutils">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">#{msg['co_projectData']}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                    <h:outputText value="#{msg.co_applicationNumber}:"/>
                </div>
                <div class="col-xs-6">
                    <h:outputText style="font-weight: bold;"
                                  value="#{ProjectController.selectedProject.applicationNumber}"/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <h:outputText value="#{msg.co_projectLeader}:"/>
                </div>
                <div class="col-xs-6">
                    <h:outputLink value="mailto:#{wu:getProjectLeaderUsername(ProjectController.selectedProject)}">
                        <f:param name="subject" value="Ihr Projektantrag: #{ProjectController.selectedProject.name}"/>
                        <h:outputText value="#{wu:getProjectLeaderName(ProjectController.selectedProject)}"/>
                    </h:outputLink>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <h:outputText value="#{msg.cooperatingSitesAvailable}?"/>
                </div>
                <div class="col-xs-6">
                    <ui:fragment rendered="#{not ProjectController.selectedProjectHasVote()}">
                        <i class="fa fa-times fa-lg" style="color: red;"/>
                    </ui:fragment>
                    <ui:fragment rendered="#{ProjectController.selectedProjectHasVote()}">
                        <i class="fa fa-check fa-lg" style="color: green;" />
                    </ui:fragment>
                </div>
            </div>

            <ui:fragment rendered="#{not empty ProjectController.selectedProject.received}">
                <div class="row">
                    <div class="col-xs-6">
                        <h:outputText value="#{msg.co_receivedAt}:"/>
                    </div>
                    <div class="col-xs-6">
                        <h:outputText value="#{wu:convertTimestamp(ProjectController.selectedProject.received)}"/>
                    </div>
                </div>
            </ui:fragment>

            <ui:fragment rendered="#{not empty ProjectController.selectedProject.approved}">
                <div class="row">
                    <div class="col-xs-6">
                        <h:outputText value="#{msg.co_approvedAt}:"/>
                    </div>
                    <div class="col-xs-6">
                        <h:outputText value="#{wu:convertTimestamp(ProjectController.selectedProject.approved)}"/>
                    </div>
                </div>
            </ui:fragment>

            <ui:fragment rendered="#{not empty ProjectController.selectedProject.started}">
                <div class="row">
                    <div class="col-xs-6">
                        <h:outputText value="#{msg.co_projectStart}:"/>
                    </div>
                    <div class="col-xs-6">
                        <h:outputText value="#{wu:isoToGermanDateString(ProjectController.selectedProject.started)}"/>
                    </div>
                </div>
            </ui:fragment>

            <ui:fragment rendered="#{not empty ProjectController.selectedProject.endEstimated}">
                <div class="row">
                    <div class="col-xs-6">
                        <h:outputText value="#{msg.co_projectEndEstimated}:"/>
                    </div>
                    <div class="col-xs-6">
                        <h:outputText
                                value="#{wu:isoToGermanDateString(ProjectController.selectedProject.endEstimated)}"/>
                    </div>
                </div>
            </ui:fragment>

            <ui:fragment rendered="#{not empty ProjectController.selectedProject.endActual}">
                <div class="row">
                    <div class="col-xs-6">
                        <h:outputText value="#{msg.co_projectEndActual}:"/>
                    </div>
                    <div class="col-xs-6">
                        <h:outputText value="#{wu:isoToGermanDateString(ProjectController.selectedProject.endActual)}"/>
                    </div>
                </div>
            </ui:fragment>
        </div>
    </div>
</ui:composition>