<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

    <h:outputScript target="body">
        $(function () {
            if ($('#closeProjectForm\\:projectEndActual').length) {
                $('#closeProjectForm\\:projectEndActual').datetimepicker({
                    format: "D.M.YYYY",
                    showTodayButton: true,
                    locale: 'de',
                    calendarWeeks: true,
                    maxDate: new Date()
                });
            }
        });
    </h:outputScript>

    <div class="panel panel-default">
        <div class="panel-body">
            <h:form id="closeProjectForm" role="form">
                <h:panelGroup layout="block" styleClass="row"
                              rendered="#{ProjectController.selectedProject.status == ProjectStatus.PS_ACTIVE}">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <h:outputLabel for="projectEndActual" value="#{msg['co_projectEndActual']}"/>
                            <div class="input-group date-picker">
                                <h:inputText id="projectEndActual" styleClass="form-control"
                                             value="#{ProjectController.endDateActual}">
                                    <f:convertDateTime pattern="dd.MM.yyyy" timeZone="CET"/>
                                </h:inputText>
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-12">
                        <h:commandLink action="#{ProjectController.closeProject}" styleClass="btn btn-md btn-default">
                            <i class="fa fa-archive fa-fw fa-2x" style="vertical-align: sub;"/>#{msg['co_projectClose']}
                        </h:commandLink>
                        <h:commandLink styleClass="btn btn-md btn-default" immediate="true" action="projects_active"
                                       style="margin-left: 10px;">
                            <i class="fa fa-times fa-fw fa-2x" style="vertical-align: sub;"/>#{msg['co_cancel']}
                        </h:commandLink>
                    </div>
                </div>
            </h:form>
        </div>
    </div>
</ui:composition>