<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:wu="http://share.samply.de/webutils"
                xmlns:pass="http://xmlns.jcp.org/jsf/passthrough">

    <h:panelGroup layout="block" styleClass="panel panel-default collapsePanel" id="remindersExternalPanel">
        <div class="panel-heading">
            <h:form id="reminderExternalHeader" prependId="false">
                <h3 class="panel-title">#{msg['co_projectRemindersExternal']} <span class="badge"
                                                                                    style="background-color: #989898;">#{fn:length(ProjectController.remindersExternal)}</span>
                    <!--                 <i class="fa fa-lg fa-info-circle hasTooltip" style="margin-right: 10px; color: cornflowerblue;" title="#{msg.co_externalReminderInfo}" /> -->
                    <button type="button" class="close collapseToggle" aria-label="Close"
                            onclick="$('#remindersExternalPanel > .panel-body').collapse('toggle');">
                        <span><i class="fa fa-chevron-right"/></span>
                    </button>
                </h3>
            </h:form>
        </div>
        <div class="panel-body collapse">
            <h:form prependId="false" id="reminderExternalListForm">
                <div class="row" style="font-weight: bold; text-align: left; margin-bottom: 5px;">
                    <div class="col-xs-1">
                        <h:outputText value=" "/>
                    </div>
                    <div class="col-xs-3">
                        <h:outputText value="#{msg['tu_date']}"/>
                    </div>
                    <div class="col-xs-8">
                        <h:outputText value="#{msg['co_message']}"/>
                    </div>
                </div>
                <ui:fragment rendered="#{empty ProjectController.remindersExternal}">
                    <div class="row">
                        <div class="col-xs-12 col-xs-offset-1">
                            <h:outputText value="#{msg['co_noReminders']}"/>
                        </div>
                    </div>
                </ui:fragment>
                <ui:repeat var="reminder" value="#{ProjectController.remindersExternal}" varStatus="status">
                    <div class="row" style="#{status.odd ? 'background-color: #E0E0E0; margin: 0;' : 'margin: 0;'}">
                        <div class="col-xs-1" style="padding-left: 0;">
                            <div class="idDiv" style="display: none;">
                                <h:inputHidden value="#{reminder.id}"/>
                            </div>
                            <div class="typeDiv" style="display: none;">
                                <h:inputHidden value="reminder"/>
                            </div>
                            <h:commandLink value="" class="deleteReminder hasConfirmPopover btn btn-default btn-xs"
                                           title="Erinnerung löschen">
                                <i class="fa fa-fw fa-trash-o"></i>
                                <f:ajax/>
                            </h:commandLink>
                            <o:commandScript name="deleteReminder" render="@form :reminderHeader" execute="@this"
                                             actionListener="#{ProjectController.deleteReminder()}"/>
                        </div>
                        <div class="col-xs-3" style="padding-left: 0;">
                            <h:outputText value="#{wu:isoToGermanDateString(reminder.date)}"/>
                        </div>
                        <div class="col-xs-8">
                            <h:outputText value="#{reminder.message}"/>
                        </div>
                    </div>
                </ui:repeat>
                <hr style="margin: 10px 0;"/>
                <div class="newReminderDiv" style="display: none;">
                    <div class="row">
                        <div class="col-xs-4" style="padding-right: 0;">
                            <div class="input-group date-picker" style="padding: 0;">
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <h:inputText id="newReminderExternalDate"
                                             styleClass="form-control no-border-radius-right"
                                             value="#{ProjectController.newReminderExternalDate}">
                                    <f:convertDateTime pattern="dd.MM.yyyy" timeZone="CET"/>
                                </h:inputText>
                            </div>
                        </div>
                        <div class="col-xs-8" style="padding-left: 0;">
                            <div class="input-group">
                                <h:inputText styleClass="form-control"
                                             value="#{ProjectController.newReminderExternal.message}"
                                             pass:placeholder="optional"
                                             style="border-top-left-radius: 0; border-bottom-left-radius: 0; border-left: none;"/>
                                <div class="input-group-btn">
                                    <h:commandLink value="" class="removeNewReminder btn btn-default"
                                                   title="#{msg['co_deleteNewReminder']}"
                                                   action="#{ProjectController.resetNewReminderExternal}"
                                                   immediate="true">
                                        <i style="color: red;" class="fa fa-fw fa-close"></i>
                                        <f:ajax execute="@this" render="@form :reminderHeader"/>
                                    </h:commandLink>
                                    <h:commandLink value="" class="addNewReminder btn btn-default"
                                                   title="#{msg['co_addNewReminder']}"
                                                   action="#{ProjectController.storeNewReminderExternal}">
                                        <i style="color: green;" class="fa fa-fw fa-check"></i>
                                        <f:ajax execute="@form" render="@form :reminderHeader"/>
                                    </h:commandLink>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="addReminderDiv">
                    <div class="addReminder pull-right btn btn-md btn-success">
                        <i class="fa fa-fw fa-plus"></i>
                    </div>
                </div>
            </h:form>
        </div>
    </h:panelGroup>
</ui:composition>