<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-clock-o fa-lg" style="margin-right: 20px;"/>Anstehende Aktivitäten
            </h3>
        </div>
        <h:form prependId="false">
            <table class="table table-striped">
                <ui:repeat var="action" value="#{applicationBean.upcomingActions}">
                    <tr class="#{wu:getTableRowClass2(action.date)}">
                        <td class="col-lg-1"><i class="fa fa-fw #{action.icon}"/></td>
                        <ui:fragment rendered="#{not empty action.projectId}">
                            <td class="col-lg-8">
                                <div class="row">
                                    <ui:fragment rendered="#{action.type != 'AT_REMINDER_EXTERNAL'}">
                                        <h:outputText value="#{action.message}"/>
                                    </ui:fragment>
                                    <ui:fragment rendered="#{action.type == 'AT_REMINDER_EXTERNAL'}">
                                        <h:outputText value="#{msg.DT_REPORT_PROGRESS} #{msg.co_deadline}"/>
                                    </ui:fragment>
                                </div>
                                <div class="row">
                                    <small>
                                        <h:link value="#{wu:getProjectTitle(action.projectId)}" outcome="show_project">
                                            <f:param name="projectId" value="#{action.projectId}"/>
                                        </h:link>
                                    </small>
                                </div>
                            </td>
                        </ui:fragment>
                        <ui:fragment rendered="#{empty action.projectId}">
                            <td class="col-lg-8">
                                <h:outputText value="#{action.message}"/>
                            </td>
                        </ui:fragment>
                        <td class="col-lg-3">(#{wu:convertTimedifference(action.date, action.time)})</td>
                    </tr>
                </ui:repeat>
            </table>


            <!--             <h:dataTable value="#{applicationBean.upcomingActions}" var="action" id="upcomingActionsTable" styleClass="table table-striped"> -->
            <!--                 <h:column> -->
            <!--                     <f:facet name="header">Type</f:facet> -->
            <!--                     <h:outputText value="#{action.type}" /> -->
            <!--                 </h:column> -->

            <!--                 <h:column> -->
            <!--                     <f:facet name="header">Time</f:facet> -->
            <!--                     <h:outputText value="#{wu:convertTimeDifference(action.time)}" /> -->
            <!--                 </h:column> -->

            <!--                 <h:column> -->
            <!--                     <f:facet name="header">Author</f:facet> -->
            <!--                     <h:outputText value="#{action.userId}" /> -->
            <!--                 </h:column> -->

            <!--                 <h:column> -->
            <!--                     <f:facet name="header">Message</f:facet> -->
            <!--                     <h:outputText value="#{action.message}" /> -->
            <!--                 </h:column> -->
            <!--             </h:dataTable> -->
        </h:form>
        <div class="panel-footer">
            <h:commandLink action="actions?faces-redirect=true" value="Alle Aktivitäten anzeigen"/>
        </div>
    </div>
</ui:composition>