<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:wu="http://share.samply.de/webutils">

<cc:interface>
</cc:interface>

<cc:implementation>
    <h:form>
        <div class="navbar navbar-fixed-top" style="position: absolute !important; background-color: #FF0000 !important;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="dashboard.xhtml"><span class="title">ADMIN</span></a>
                </div>
            </div>
        </div>
    </h:form>
</cc:implementation>

</ui:composition>