<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<cc:interface>
</cc:interface>

<cc:implementation>
    <h:form>
        <div class="navbar navbar-fixed-top" style="position: absolute !important; background-color: #DC8C15 !important;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="dashboard.xhtml"><span class="title">DKTK</span><span class="titleGrey">.CCP-IT</span></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav head-nav">
                        <ui:fragment rendered="#{fn:contains(roles, 'admin')}">
                            <li><h:outputLink value="../admin/dashboard.xhtml"><i class="fa fa-user-secret fa-lg" style="margin-right: 10px;" />Admin</h:outputLink></li>
                        </ui:fragment>
                        <li><h:outputLink value="dashboard.xhtml"><i class="fa fa-dashboard fa-lg" style="margin-right: 10px;" />#{msg['co_overview']}</h:outputLink></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-folder-o fa-lg" style="margin-right: 10px;" />#{msg['co_projects']}<b class="caret"></b></a>  
                            <ul class="dropdown-menu">
                                <li>
                                    <h:outputLink value="projects_new.xhtml">
                                        <i class="fa fa-envelope-o fa-fw fa-lg" style="margin-right: 10px;" /> #{msg['co_new']} #{msg['co_proposals']}
                                    </h:outputLink>
                                </li>
                                <li>
                                    <h:outputLink value="projects_pending.xhtml">
                                        <i class="fa fa-comments-o fa-fw fa-lg" style="margin-right: 10px;" /> #{msg['co_pending']} #{msg['co_proposals']}
                                    </h:outputLink>
                                </li>
                                <li>
                                    <h:outputLink value="projects_active.xhtml">
                                        <i class="fa fa-exchange fa-fw fa-lg" style="margin-right: 10px;" /> #{msg['co_active']} #{msg['co_projects']}
                                    </h:outputLink>
                                </li>                                                                
                                <li>
                                    <h:outputLink value="projects_archive.xhtml">
                                        <i class="fa fa-archive fa-fw fa-lg" style="margin-right: 10px;" /> #{msg['co_archive']}
                                    </h:outputLink>
                                </li>
                            </ul>                        
                        </li>
<!--                         <li class="disabled" title="Coming soon"><h:outputLink value="studies.xhtml"><i class="fa fa-database fa-lg" style="margin-right: 10px;"/>DKTK #{msg['co_studies']}</h:outputLink></li> -->
                        <li><h:outputLink value="actions.xhtml"><i class="fa fa-clock-o fa-lg" style="margin-right: 10px;"/>#{msg['co_actions']}</h:outputLink></li>
                        <li><h:outputLink value="../dashboard.xhtml"><i class="fa fa-search fa-lg" style="margin-right: 10px;" title="zur Suche"/></h:outputLink></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right head-nav">
                        <li class="dropdown">
                            <ui:fragment rendered="#{wu:getProjectName() == 'dktk'}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">#{wu:getUserStringWithSite()}</a>
                            </ui:fragment>
                            <ui:fragment rendered="#{wu:getProjectName() != 'dktk'}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lg fa-bars" /></a>
                            </ui:fragment>
                            <ul class="dropdown-menu">
                                <li class="logoutElement"><h:commandLink action="#{loginController.logout}">
                                        <i class="fa fa-sign-out"></i> #{msg['co_logout']}</h:commandLink></li>
                            </ul></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </h:form>
</cc:implementation>
</ui:composition>