<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:cc="http://xmlns.jcp.org/jsf/composite"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:wu="http://share.samply.de/webutils">

    <cc:interface>
        <cc:attribute name="login_disabled" type="java.lang.Boolean" default="false"
                      required="false"/>
    </cc:interface>

    <cc:implementation>
        <h:form>
            <div class="navbar navbar-fixed-top" style="position: absolute !important;">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                                class="icon-bar"></span>
                        </button>

                        <ui:param name="projectName"
                                  value="#{fn:toLowerCase(wu:getProjectName())}"/>

                        <ui:fragment rendered="#{projectName == 'osse'}">
                            <a class="navbar-brand" href="/index.xhtml"><span
                                    class="title">OSSE</span><span
                                    class="titleGrey">.Share Broker</span></a>
                        </ui:fragment>
                        <ui:fragment rendered="#{projectName == 'dktk'}">
                            <a class="navbar-brand" href="/index.xhtml"><span
                                    class="title">DKTK</span><span
                                    class="titleGrey">.Search Broker</span></a>
                        </ui:fragment>
                        <ui:fragment rendered="#{projectName == 'erdri'}">
                            <a class="navbar-brand" href="/index.xhtml"><span
                                    class="title">ERDRI</span><span
                                    class="titleGrey">.Search Broker</span></a>
                        </ui:fragment>
                        <ui:fragment
                                rendered="#{projectName != 'osse' and projectName != 'dktk' and projectName != 'erdri'}">
                            <a class="navbar-brand" href="/index.xhtml"><span
                                    class="title">Samply</span><span
                                    class="titleGrey">.Share Broker</span></a>
                        </ui:fragment>
                    </div>

                    <ui:fragment rendered="#{!loginController.loginValid}">
                        <ul class="nav navbar-nav navbar-right head-nav" style="font-size: large">
                            <li>
                                <ui:fragment rendered="#{cc.attrs.login_disabled}">
                                    <a href="#" style="cursor: not-allowed">#{msg.login_disabled} <i class="fa fa-lg fa-warning" /></a>
                                </ui:fragment>
                                <ui:fragment rendered="#{!cc.attrs.login_disabled}">
                                    <h:outputLink value="/user/dashboard.xhtml">
                                        <i class="fa fa-lg fa-sign-in" /> #{msg.login}
                                    </h:outputLink>
                                </ui:fragment>
                            </li>
                        </ul>
                    </ui:fragment>

                    <ui:fragment rendered="#{loginController.loginValid}">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav head-nav">
                                <ui:fragment rendered="#{fn:contains(roles, 'admin')}">
                                    <li><h:outputLink value="/admin/dashboard.xhtml"><i
                                            class="fa fa-user-secret fa-lg"
                                            style="margin-right: 10px;"/>Admin</h:outputLink></li>
                                </ui:fragment>
                                <li><h:outputLink value="/user/dashboard.xhtml"><i
                                        class="fa fa-dashboard fa-lg"
                                        style="margin-right: 10px;"/>#{msg['co_overview']}
                                </h:outputLink></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                            class="fa fa-folder-o fa-lg"
                                            style="margin-right: 10px;"/>#{msg['inquiries']}<b
                                            class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <h:outputLink value="/user/drafts.xhtml">
                                                <i class="fa fa-pencil-square-o fa-fw fa-lg"
                                                   style="margin-right: 10px;"/> #{msg.yourDrafts}
                                            </h:outputLink>
                                        </li>
                                        <li>
                                            <h:outputLink value="/user/inquiries.xhtml">
                                                <i class="fa fa-cloud-upload fa-fw fa-lg"
                                                   style="margin-right: 10px;"/> #{msg.yourInquiries}
                                            </h:outputLink>
                                        </li>
                                        <ui:fragment rendered="#{wu:getProjectName() == 'dktk'}">
                                            <li>
                                                <h:outputLink value="/user/projects.xhtml">
                                                    <i class="fa fa-handshake-o fa-fw fa-lg"
                                                       style="margin-right: 10px;"/> #{msg.yourProjects}
                                                </h:outputLink>
                                            </li>
                                        </ui:fragment>
                                        <li>
                                            <h:outputLink value="/user/archivedInquiries.xhtml">
                                                <i class="fa fa-archive fa-fw fa-lg"
                                                   style="margin-right: 10px;"/> #{msg.archivedInquiries}
                                            </h:outputLink>
                                        </li>
                                    </ul>
                                </li>
                                <ui:fragment
                                        rendered="#{loginController.userConsent or wu:getProjectName() != 'osse'}">
                                    <li><h:commandLink
                                            action="#{searchDetailsBean.clearSerializedQueryAndGotoStep1}">
                                        <i class="fa fa-search-plus fa-lg"
                                           style="margin-right: 10px;"/>#{msg.new_inquiry}
                                    </h:commandLink>
                                    </li>
                                </ui:fragment>
                                <ui:fragment
                                        rendered="#{!loginController.userConsent and wu:getProjectName() == 'osse'}">
                                    <li>
                                        <h:commandLink value="#{msg.new_inquiry}"
                                                       style="text-decoration: line-through;"
                                                       title="#{msg.consent_needed}"
                                                       action="contact">
                                            <i class="fa fa-warning fa-lg" style="color: yellow;"/>
                                        </h:commandLink>
                                    </li>
                                </ui:fragment>
                                <ui:fragment rendered="#{fn:contains(roles,'ccp_office')}">
                                    <li><h:outputLink value="/ccp_office/dashboard.xhtml"><i
                                            class="fa fa-lg fa-gavel"
                                            title="zur Verwaltung"/></h:outputLink></li>
                                </ui:fragment>
                            </ul>
                            <ul class="nav navbar-nav navbar-right head-nav">
                                <li class="dropdown">
                                    <ui:fragment rendered="#{wu:getProjectName() == 'dktk'}">
                                        <a href="#" class="dropdown-toggle"
                                           data-toggle="dropdown">#{wu:getUserStringWithSite()}</a>
                                    </ui:fragment>
                                    <ui:fragment rendered="#{wu:getProjectName() != 'dktk'}">
                                        <a href="#" class="dropdown-toggle"
                                           data-toggle="dropdown">#{loginController.user.name} <i
                                                class="fa fa-lg fa-caret-down"/></a>
                                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lg fa-bars" /></a>-->
                                    </ui:fragment>
                                    <ul class="dropdown-menu">
                                        <li><h:outputLink value="/user/contact.xhtml">
                                            <i class="fa fa-user"></i> #{msg.profile}</h:outputLink>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="logoutElement"><h:commandLink
                                                action="#{loginController.logout}">
                                            <i class="fa fa-sign-out"></i> #{msg.logout}
                                        </h:commandLink></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </ui:fragment>
                </div>
            </div>
        </h:form>
    </cc:implementation>
</ui:composition>