<ui:composition template="/WEB-INF/templates/errorpage.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>
    <ui:define name="contentTitle">An error has occurred.</ui:define>
</ui:composition>