<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:wu="http://share.samply.de/webutils">

    <div class="panel panel-default collapsePanel" id="callbacksPanel">
        <div class="panel-heading">
            <h:form id="callbackHeader" prependId="false">
                <h3 class="panel-title">#{msg['co_projectCallbacks']} <span class="badge"
                                                                            style="background-color: #989898;">#{fn:length(ProjectController.callbacks)}</span>
                    <button type="button" class="close collapseToggle" aria-label="Close"
                            onclick="$('#callbacksPanel > .panel-body').collapse('toggle');">
                        <span><i class="fa fa-chevron-right"/></span>
                    </button>
                </h3>
            </h:form>
        </div>
        <div class="panel-body collapse">
            <h:form prependId="false" id="callbackListForm">
                <div class="row" style="font-weight: bold; text-align: left; margin-bottom: 5px;">
                    <div class="col-xs-3">
                        <h:outputText value="#{msg['tu_date']}"/>
                    </div>
                    <div class="col-xs-9">
                        <h:outputText value="#{msg['co_message']}"/>
                    </div>
                </div>
                <ui:fragment rendered="#{empty ProjectController.callbacks}">
                    <div class="row">
                        <div class="col-xs-12 col-xs-offset-1">
                            <h:outputText value="#{msg['co_noCallbacks']}"/>
                        </div>
                    </div>
                </ui:fragment>
                <ui:repeat var="callback" value="#{ProjectController.callbacks}" varStatus="status">
                    <div class="row" style="#{status.odd ? 'background-color: #E0E0E0; margin: 0;' : 'margin: 0;'}">
                        <div class="col-xs-3" style="padding-left: 0;">
                            <h:outputText value="#{wu:isoToGermanDateString(callback.date)}"/>
                        </div>
                        <div class="col-xs-9">
                            <h:outputText value="#{msg['AT_INQUIRY_EDITED']}"
                                          rendered="#{callback.message == 'AT_INQUIRY_EDITED'}"/>
                            <h:outputText value="#{callback.message}"
                                          rendered="#{callback.type == 'AT_PROJECT_CALLBACK_SENT'}"/>
                        </div>
                    </div>
                </ui:repeat>
            </h:form>
        </div>
    </div>
</ui:composition>