<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">#{msg['co_projectDescription']}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <h:outputText value="#{inquiryController.selectedInquiry.description}"/>
                </div>
            </div>
            <hr style="margin: 5px;"/>

            <div class="row">
                <div class="col-lg-12">
                    <ui:fragment rendered="#{inquiryController.selectedInquiryHasExpose}">
                        <h:form>
                            <h:outputLink
                                    value="../rest/searchbroker/inquiries/#{inquiryController.selectedInquiryId}/expose">
                                <i class="fa fa-file-pdf-o"/> #{msg['viewExpose']}
                            </h:outputLink>
                        </h:form>
                    </ui:fragment>
                    <ui:fragment rendered="#{!inquiryController.selectedInquiryHasExpose}">
                        <h:outputText value="#{msg['noExpose']}"/>
                    </ui:fragment>
                </div>
            </div>
        </div>
    </div>
</ui:composition>