<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:wu="http://share.samply.de/webutils" 
                xmlns:pass="http://xmlns.jcp.org/jsf/passthrough">

    <div class="panel panel-default collapsePanel" id="documentPanel">
        <div class="panel-heading">
            <h:form  id="documentsHeader" prependId="false">
                <h3 class="panel-title">#{msg['co_projectDocuments']} <span class="badge" style="background-color: #989898;">#{fn:length(ProjectController.documents)}</span>
                <button type="button" class="close collapseToggle" aria-label="Close"
                    onclick="$('#documentPanel > .panel-body').collapse('toggle');">
                    <span><i class="fa fa-chevron-right" /></span>
                </button></h3>
            </h:form>
        </div>
        <div class="panel-body collapse">
            <h:form prependId="false" id="documentListForm">
                <div class="row" style="font-weight: bold; text-align: left; margin-bottom: 5px;">
                    <div class="col-xs-8">
                        <h:outputText value="#{msg['co_document']}" />
                    </div>
                    <div class="col-xs-4">
                        <div class="row" style="float: right; margin-right:0;">
                            <h:outputText value="#{msg['co_actions']}" rendered="#{!readOnly}"/>
                        </div>
                    </div>
                </div>
                <ui:fragment rendered="#{empty ProjectController.documents}">
                    <div class="row">
                        <div class="col-xs-12">
                            <h:outputText value="#{msg['co_noDocuments']}" />
                        </div>
                    </div>
                </ui:fragment>
                <ui:repeat var="document" value="#{ProjectController.documents}" varStatus="status">
                    <ui:param name="readOnly" value="#{(document.userId != loginController.user.id ) or (document.documentType == DocumentType.DT_EXPOSE)}" />
                
                    <div class="row" style="#{status.odd ? 'background-color: #F3F3F3; margin: 0 0 2px 0;' : 'margin: 0 0 2px 0;'}" >
                        <div class="col-xs-8" style="padding-left: 0;">
                            <h:commandLink value="#{document.filename}" id="dl_document" type="submit" action="#{ProjectController.exportDocument(document.id)}" />
                        </div>
                        <div class="col-xs-4">
                            <div class="row" style="float: right;">
	                            <div class="idDiv" style="display: none;">                               
	                                <h:inputHidden value="#{document.id}" />
	                            </div>
	                            <div class="typeDiv" style="display: none;">                               
	                                <h:inputHidden value="document" />
	                            </div>
	                            
	                            <ui:fragment rendered="#{!readOnly}">
	                                <div class="btn-group">
	                                  <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                                    #{msg[document.documentType]} <span class="caret"></span>
	                                  </button>
	                                  <ul class="dropdown-menu">
	                                     <ui:repeat value="#{ProjectController.documentTypes}" var="docType">
	                                         <li>
	                                            <h:commandLink actionListener="#{ProjectController.setDocType(document.id, docType)}" >
	                                                #{msg[docType]}
	                                                <f:ajax render="@form" onevent="handleTypeChangeEvent"/>
	                                            </h:commandLink>
	                                         </li>
	                                     </ui:repeat>
	                                  </ul>
	                                </div>	                            
	                            </ui:fragment>
	                            <ui:fragment rendered="#{readOnly}">
                                      <span class="badge">
                                        #{msg[document.documentType]}
                                      </span>               
	                            </ui:fragment>
	                            
	                            <h:commandLink value="" class="deleteDocument hasConfirmPopover btn btn-default btn-xs" title="Dokument löschen" rendered="#{!readOnly}">
	                                <i class="fa fa-fw fa-trash-o"></i>
	                                <f:ajax />
	                            </h:commandLink>
	                            <o:commandScript name="deleteDocument" render="@form :documentsHeader" execute="@form" actionListener="#{ProjectController.deleteDocument()}"  />
	                            <h:commandLink value="" class="infoDocument hasPopover btn btn-default btn-xs" title="Zusätzliche Infos" style="margin-left: 2px;"
	                                pass:data-content="Hochgeladen am #{wu:isoToGermanDateString(document.uploadedAt)} von #{wu:getUsernameById(document.userId)}">
	                                <i class="fa fa-fw fa-info-circle"></i>
	                                <f:ajax />
	                            </h:commandLink>
    					   </div>
                        </div>
                    </div>
                </ui:repeat>
            </h:form>
            
            <hr style="margin: 10px 0;"/>

            <h:form role="form" enctype="multipart/form-data" prependId="false" id="documentBoxForm">
                <label class="control-label">#{msg['selectFile']}</label>
                    <h:inputFile id="documentUpload" value="#{ProjectController.newDocument}" style="width:100%" required="true" pass:data-show-caption="true" pass:data-show-preview="false" >
                        <f:validator validatorId="documentfileValidator" />
                    </h:inputFile>
                    <h:message id="document_message" for="documentUpload" style="color:red" />
                    <h:commandButton type="button" class="uploadTheFile" style="display:none;">
                        <f:ajax listener="#{ProjectController.handleDocumentUpload}" render="document_message documentListForm :documentsHeader" execute="@form" />
                    </h:commandButton>
            </h:form>

        </div>
    </div>
</ui:composition>