<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:wu="http://share.samply.de/webutils"
                xmlns:pass="http://xmlns.jcp.org/jsf/passthrough">

    <div class="exposeDiv" style="border-left: 2px solid #bce8f1; padding-left: 10px; margin-bottom: 10px;">
        <h:form prependId="false" id="exposeListForm">
        
        <h:inputHidden id="userId" value="#{loginController.user.id}"/>

            <ui:fragment rendered="#{empty searchDetailsBean.expose}">
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-xs-12">
                    <ui:fragment rendered="#{wu:getProjectName() != 'dktk'}">
                        <h:outputText value="#{msg['noExpose']}" />
                    </ui:fragment>
                    <ui:fragment rendered="#{wu:getProjectName() == 'dktk'}">
                        <h:outputText value="#{msg['noExpose']} - #{msg['exposeTemplateInfo']}" />
<!--                        		<a href="/files/antrag_template.pdf" target="_new" class="btn btn-primary btn-xs" style="margin-left: 20px;"><i class="fa fa-file-pdf-o" /> #{msg['downloadExposeTemplate']}</a> -->
							<h:commandLink value="" id="dl_template" type="submit" action="#{SearchController.exportTemplate}" style="margin-left:20px;" styleClass="btn btn-primary btn-xs">
								<i class="fa fa-file-pdf-o" /> #{msg['downloadExposeTemplate']}
							</h:commandLink>
			        </ui:fragment>
                    </div>
                </div>
            </ui:fragment>
            <ui:fragment rendered="#{not empty searchDetailsBean.expose}">
                <div class="row" style="font-weight: bold; text-align: left; margin-bottom: 5px;">
                    <div class="col-xs-12">
                        <h:outputText value="#{msg['co_synopsis']}" />
                    </div>
                </div>
                <div class="row" style="margin: 0;" >
                    <div class="col-xs-12">
                        <div class="idDiv" style="display: none;">                               
                            <h:inputHidden value="#{searchDetailsBean.expose.id}" />
                        </div>
                        <h:commandLink value="" class="deleteExpose hasConfirmPopover btn btn-default btn-xs" title="#{msg['deleteExpose']}">
                            <i class="fa fa-fw fa-trash-o"></i>
                            <f:ajax />
                        </h:commandLink>
                        <o:commandScript name="deleteExpose" render="@form" execute="@form" actionListener="#{searchDetailsBean.deleteDocument}" oncomplete="createExposeUpload();$('#exposeBoxForm').show();" />
                        
                        <h:commandLink value="#{searchDetailsBean.expose.filename}" id="dl_expose" type="submit" action="#{searchDetailsBean.exportExpose}" style="margin-left: 10px;"/>
                    </div>
                </div>
            </ui:fragment>
            
            <o:commandScript name="loadExposeWithId"
			                 action="#{searchDetailsBean.loadExposeWithId()}"
                             render=":exposeBoxForm @form">              
            </o:commandScript>
        </h:form>

        <h:form role="form" enctype="multipart/form-data" prependId="false" id="exposeBoxForm" style="#{empty searchDetailsBean.expose ? 'display: block;' : 'display: none;'}">
            <label class="control-label">#{msg['selectFile']}</label>
            <h:inputFile id="exposeUpload" pass:name="documentUpload" style="width:100%">
                <f:validator validatorId="filesizeValidator" />
            </h:inputFile>
            <h:panelGroup layout="block" id="expose-upload-error" style="margin-top:10px;display:none" />
            
            <h:commandButton type="button" class="fileUploaded" style="display:none;">
                <f:ajax render="expose_message exposeListForm" execute="@form" />
            </h:commandButton>
            <h:message id="expose_message" for="exposeUpload" style="color:red" />
        </h:form>
    </div>
</ui:composition>