<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

    <div class="panel panel-primary new-inquiry-panel">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 project-text" style="text-align: center;">
                    <i class="fa fa-search-plus fa-lg"/> #{msg.new_inquiry}
                </div>
            </div>
        </div>
    </div>
    <div class="go-to-project" style="display:none;">
        <h:commandLink action="#{searchDetailsBean.clearSerializedQueryAndGotoStep1}"/>
    </div>
</ui:composition>