<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
>

    <c:set var="partners" value="#{inquiryController.partnersForSelectedInquiry}"/>

    <div class="panel panel-default collapsePanel" id="partnersPanel">
        <div class="panel-heading">
            <h3 class="panel-title">#{msg['co_projectPartners']} <span class="badge"
                                                                       style="background-color: #989898;">#{fn:length(partners)}</span>
                <button type="button" class="close collapseToggle" aria-label="Close"
                        onclick="$('#partnersPanel > .panel-body').collapse('toggle');">
                    <span><i class="fa fa-chevron-right"/></span>
                </button>
            </h3>
        </div>
        <div class="panel-body collapse">
            <ul class="list-group">
                <ui:repeat value="#{partners}" var="partner">
                    <li class="list-group-item">#{partner.name}</li>
                </ui:repeat>
            </ul>
        </div>
    </div>
</ui:composition>