<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-clock-o fa-lg" style="margin-right: 20px;"/>#{msg.co_recentActions}
            </h3>
        </div>
        <h:form prependId="false">
            <table class="table table-striped">
                <ui:repeat var="action" value="#{applicationBean.recentActions}">
                    <tr class="#{wu:getTableRowClass2(action.date)}">
                        <td class="col-lg-1"><i class="fa fa-fw #{action.icon}"/></td>
                        <ui:fragment rendered="#{not empty action.projectId}">
                            <td class="col-lg-8">
                                <div class="row">
                                    <h:outputText value="#{action.message}"/>
                                </div>
                                <div class="row">
                                    <small>
                                        <h:link value="#{wu:getProjectTitle(action.projectId)}" outcome="show_project">
                                            <f:param name="projectId" value="#{action.projectId}"/>
                                        </h:link>
                                    </small>
                                </div>
                            </td>
                        </ui:fragment>
                        <ui:fragment rendered="#{empty action.projectId}">
                            <td class="col-lg-8">
                                <h:outputText value="#{action.message}"/>
                            </td>
                        </ui:fragment>
                        <td class="col-lg-3">(#{wu:convertTimedifference(action.date, action.time)})</td>
                    </tr>
                </ui:repeat>
            </table>
        </h:form>
    </div>
</ui:composition>