<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:h="http://java.sun.com/jsf/html"
>

    <c:set var="sites" value="#{inquiryController.sitesForSelectedInquiry}"/>

    <div class="panel panel-default collapsePanel" id="sitePanel">
        <div class="panel-heading">
            <h3 class="panel-title">#{msg['isSentToSites']} <span class="badge"
                                                                  style="background-color: #989898;">#{fn:length(sites)}</span>
                <button type="button" class="close collapseToggle" aria-label="Close"
                        onclick="$('#sitePanel > .panel-body').collapse('toggle');">
                    <span><i class="fa fa-chevron-right"/></span>
                </button>
            </h3>
        </div>
        <div class="panel-body collapse">
            <ul class="list-group">
                <ui:repeat value="#{sites}" var="site">
                    <li class="list-group-item">
                        <h:outputText value="#{site.name}" />
                        <span class="pull-right badge">#{inquiryController.getReplyTextForSite(site.id)}</span>
                    </li>
                </ui:repeat>
            </ul>
        </div>
    </div>
</ui:composition>