<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:pass="http://xmlns.jcp.org/jsf/passthrough">

    <div class="voteDiv"
         style="border-left: 2px solid #bce8f1; padding-left: 10px; margin-bottom: 10px; #{searchDetailsBean.cooperationAvailable ? '' : 'display: none;'}">
        <h:form prependId="false" id="voteListForm">

            <ui:fragment rendered="#{empty searchDetailsBean.vote}">
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-xs-12">
                        <h:outputText value="#{msg['noVote']}"/>
                    </div>
                </div>
            </ui:fragment>
            <ui:fragment rendered="#{not empty searchDetailsBean.vote}">
                <div class="row" style="font-weight: bold; text-align: left; margin-bottom: 5px;">
                    <div class="col-xs-12">
                        <h:outputText value="#{msg['co_vote']}"/>
                    </div>
                </div>
                <div class="row" style="margin: 0;">
                    <div class="col-xs-12">
                        <div class="idDiv" style="display: none;">
                            <h:inputHidden value="#{searchDetailsBean.vote.id}"/>
                        </div>
                        <h:commandLink value="" class="deleteVote hasConfirmPopover btn btn-default btn-xs"
                                       title="#{msg['deleteVote']}">
                            <i class="fa fa-fw fa-trash-o"></i>
                            <f:ajax/>
                        </h:commandLink>
                        <o:commandScript name="deleteVote" render="@form" execute="@form"
                                         actionListener="#{searchDetailsBean.deleteDocument}"
                                         oncomplete="createVoteUpload(); $('#voteBoxForm').show();"/>

                        <h:commandLink value="#{searchDetailsBean.vote.filename}" id="dl_vote" type="submit"
                                       action="#{searchDetailsBean.exportVote}" style="margin-left: 10px;"/>
                    </div>
                </div>
            </ui:fragment>

            <o:commandScript name="loadVoteWithId"
                             action="#{searchDetailsBean.loadVoteWithId()}"
                             render=":voteBoxForm @form">
            </o:commandScript>
        </h:form>

        <h:form role="form" enctype="multipart/form-data" prependId="false" id="voteBoxForm"
                style="#{empty searchDetailsBean.vote ? 'display: block;' : 'display: none;'}">
            <label class="control-label">#{msg['selectFile']}</label>
            <h:inputFile id="voteUpload" pass:name="documentUpload" style="width:100%">
                <f:validator validatorId="filesizeValidator"/>
            </h:inputFile>
            <h:panelGroup layout="block" id="vote-upload-error" style="margin-top:10px;display:none"/>

            <h:commandButton type="button" class="fileUploaded" style="display:none;">
                <f:ajax render="vote_message voteListForm" execute="@form"/>
            </h:commandButton>
            <h:message id="vote_message" for="voteUpload" style="color:red"/>
        </h:form>
    </div>
</ui:composition>