<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:wu="http://share.samply.de/webutils"
                xmlns:ssb="http://xmlns.jcp.org/jsf/composite/samply-share-broker">

    <ui:define name="title">
        <h:outputText value="DKTK #{msg['co_projectManagement']} - #{msg['co_actions']}"/>
    </ui:define>

    <ui:define name="metadata">
        <f:viewAction action="#{applicationBean.reloadAllActions}" onPostback="true"/>
    </ui:define>

    <ui:define name="additional-css">
        <h:outputStylesheet name="webjars/datatables/1.10.13/css/dataTables.bootstrap.min.css"/>
    </ui:define>

    <ui:define name="additional-js">
        <h:outputScript name="webjars/datatables/1.10.13/js/jquery.dataTables.min.js"/>
        <h:outputScript name="webjars/datatables/1.10.13/js/dataTables.bootstrap.min.js"/>
    </ui:define>

    <ui:define name="menu">
        <ssb:ccpoffice_menu/>
    </ui:define>

    <ui:define name="page-header">
        <h1>
            <h:outputText value="#{msg['co_actions']}"/>
        </h1>
    </ui:define>

    <ui:define name="main-content">
        <h:form prependId="false">
            <h:dataTable value="#{applicationBean.allActions}" var="action" id="actionsTable"
                         styleClass="table table-striped">
                <h:column>
                    <i class="fa fa-fw #{action.icon}"/>
                </h:column>
                <!--                     <h:column> -->
                <!--                         <f:facet name="header">Type</f:facet> -->
                <!--                         <h:outputText value="#{action.type}"/> -->
                <!--                     </h:column> -->

                <h:column>
                    <f:facet name="header">#{msg['tu_date']}</f:facet>
                    <h:outputText value="#{wu:isoToGermanDateString(action.date)}"/>
                    <h:outputText value=" #{wu:convertTime(action.time)}" rendered="#{not empty action.time}"/>
                    <ui:fragment rendered="#{not empty action.time}">
                        <h:outputText styleClass="action-timestamp" value="#{action.date} #{action.time}"
                                      style="display: none;"/>
                    </ui:fragment>
                    <ui:fragment rendered="#{empty action.time}">
                        <h:outputText styleClass="action-timestamp" value="#{action.date} 23:59:59.999"
                                      style="display: none;"/>
                    </ui:fragment>
                </h:column>

                <h:column>
                    <f:facet name="header">#{msg['co_actor']}</f:facet>
                    <h:outputText value="#{wu:getUsernameById(action.userId)}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">#{msg['co_message']}</f:facet>
                    <h:outputText value="#{action.message}"/>
                </h:column>
            </h:dataTable>
        </h:form>
    </ui:define>
</ui:composition>