<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ssb="http://xmlns.jcp.org/jsf/composite/samply-share-broker">

    <ui:define name="title">
        <h:outputText value="DKTK #{msg.co_projectManagement} - #{msg.co_overview}"/>
    </ui:define>

    <ui:define name="metadata">
        <f:metadata>
            <f:viewAction action="#{applicationBean.reloadUpcomingActions}" onPostback="true"/>
        </f:metadata>
    </ui:define>

    <ui:define name="additional-js">
        <h:outputScript target="body">
            $(document).ready(function () {
                $('.project-panel').click(function (event) {
                    event.stopPropagation();
                    $(this).siblings('.go-to-project').children('a').trigger("click");
                });
            });
        </h:outputScript>
    </ui:define>

    <ui:define name="menu">
        <ssb:ccpoffice_menu/>
    </ui:define>

    <ui:define name="page-header">
        <h1>
            <h:outputText value="DKTK #{msg.co_projectManagement}"/>
        </h1>
    </ui:define>

    <ui:define name="main-content">
        <h:form>
            <h:messages showDetail="true" showSummary="true" id="messages" globalOnly="true"/>
        </h:form>

        <h:form>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <ui:include src="/ccp_office/components/c_projects_new.xhtml"/>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <ui:include src="/ccp_office/components/c_projects_pending.xhtml"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <ui:include src="/ccp_office/components/c_projects_active.xhtml"/>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <ui:include src="/ccp_office/components/c_projects_archived.xhtml"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="col-xs-12">
                        <ui:include src="/ccp_office/components/c_upcoming_events.xhtml"/>
                    </div>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>