<ui:composition template="projects.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

    <ui:param name="projectType" value="PT_OPEN"/>
    <ui:param name="projectTypeTitle" value="#{msg['co_pendingProjects']}"/>
    <ui:param name="tableId" value="pendingProjectsTable"/>

    <ui:param name="showColumn_site" value="true"/>
    <ui:param name="showColumn_status" value="true"/>
    <ui:param name="showColumn_approvedAt" value="true"/>

</ui:composition>