<ui:composition template="projects.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

    <ui:param name="projectType" value="PT_ACTIVE"/>
    <ui:param name="projectTypeTitle" value="#{msg['co_activeProjects']}"/>
    <ui:param name="tableId" value="activeProjectsTable"/>

    <ui:param name="showColumn_site" value="true" />
    <ui:param name="showColumn_projectPartners" value="true" />

</ui:composition>