<ui:composition template="projects.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

    <ui:param name="projectType" value="PT_ARCHIVED"/>
    <ui:param name="projectTypeTitle" value="#{msg['co_archivedProjects']}"/>
    <ui:param name="tableId" value="archivedProjectsTable"/>

    <ui:param name="showColumn_site" value="true" />
    <ui:param name="showColumn_projectPartners" value="true" />
    <ui:param name="showColumn_archiveReason" value="true" />
    <ui:param name="showColumn_finalReport" value="true" />

</ui:composition>