<ui:composition template="projects.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

    <ui:param name="projectType" value="PT_NEW"/>
    <ui:param name="projectTypeTitle" value="#{msg['co_newProjects']}"/>
    <ui:param name="tableId" value="newProjectsTable"/>

    <ui:param name="showColumn_receivedAt" value="true" />
    <ui:param name="showColumn_site" value="true" />
    <ui:param name="showColumn_expose" value="true" />

    <ui:param name="annotateUpdatedProjects" value="true" />
    <ui:param name="showFooter" value="true" />

</ui:composition>