<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:ssb="http://xmlns.jcp.org/jsf/composite/samply-share-broker"
                xmlns:wu="http://share.samply.de/webutils">

    <ui:define name="title">
        <h:outputText value="DKTK #{msg['co_projectManagement']} - #{projectTypeTitle}"/>
    </ui:define>

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView" listener="#{ProjectController.loadProjects(projectType)}" />
        </f:metadata>
    </ui:define>

    <ui:define name="additional-css">
        <h:outputStylesheet name="webjars/datatables/1.10.13/css/dataTables.bootstrap.min.css" />
    </ui:define>

    <ui:define name="additional-js">
        <h:outputScript name="webjars/datatables/1.10.13/js/jquery.dataTables.min.js" />
        <h:outputScript name="webjars/datatables/1.10.13/js/dataTables.bootstrap.min.js" />
        <h:outputScript name="js/date-de.js" />
        <h:outputScript name="js/tables.js" />
    </ui:define>

    <ui:define name="optional-import-constants">
        <o:importConstants type="de.samply.share.broker.model.db.enums.ProjectStatus" />
    </ui:define>

    <ui:define name="menu">
        <ssb:ccpoffice_menu />
    </ui:define>

    <ui:define name="page-header">
        <h1>
            #{msg['co_projects']} <small>#{projectTypeTitle}</small>
        </h1>
    </ui:define>

    <ui:define name="main-content">
        <h:form prependId="false">
            <h:dataTable value="#{ProjectController.projects}" var="project" id="#{tableId}" styleClass="table table-striped">
                <h:column>
                    <f:facet name="header">#{msg['co_projectId']}</f:facet>
                    <h:link value="#{project.applicationNumber}" outcome="show_project" >
                        <f:param name="projectId" value="#{project.id}" />
                    </h:link>
                </h:column>
                <h:column>
                    <f:facet name="header">#{msg['co_projectName']}</f:facet>
                    <h:link value="#{project.name} #{annotateUpdatedProjects and (project.status == ProjectStatus.PS_OPEN_MOREINFO_PROVIDED) ? '*' : ''}" outcome="show_project" >
                        <f:param name="projectId" value="#{project.id}" />
                    </h:link>
                </h:column>

                <h:column>
                    <f:facet name="header">#{msg['co_projectLeader']}</f:facet>
                    <h:outputText value="#{wu:getProjectLeaderName(project)}" styleClass="#{project.seen ? '' : 'unseen'}"/>
                </h:column>

                <c:if test="#{showColumn_site}">
                    <h:column>
                        <f:facet name="header">#{msg['co_site']}</f:facet>
                        <h:outputText value="#{wu:getSite(project)}" />
                    </h:column>
                </c:if>

                <c:if test="#{showColumn_projectPartners}">
                    <h:column>
                        <f:facet name="header">#{msg['co_projectPartners']}</f:facet>
                        <h:outputText value="#{wu:getProjectPartners(project)}" />
                    </h:column>
                </c:if>

                <c:if test="#{showColumn_receivedAt}">
                    <h:column>
                        <f:facet name="header">#{msg['co_receivedAt']}</f:facet>
                        <h:outputText value="#{wu:convertTimestamp(project.received)}" />
                    </h:column>
                </c:if>

                <c:if test="#{showColumn_expose}">
                    <h:column>
                        <f:facet name="header">#{msg['co_synopsis']}</f:facet>
                        <h:commandLink value="#{msg['downloadExpose']}" id="dl_expose" type="submit"
                                       action="#{ProjectController.exportExposee(project.id)}" />
                    </h:column>
                </c:if>

                <c:if test="#{showColumn_status}">
                    <h:column>
                        <f:facet name="header">#{msg['co_status']}</f:facet>
                        <h:outputText value="#{msg[project.status]}" />
                    </h:column>
                </c:if>

                <c:if test="#{showColumn_approvedAt}">
                    <h:column>
                        <f:facet name="header">#{msg['co_approvedAt']}</f:facet>
                        <h:outputText value="#{wu:convertTimestamp(project.approved)}" />
                    </h:column>
                </c:if>

                <c:if test="#{showColumn_archiveReason}">
                    <h:column>
                        <f:facet name="header">#{msg['co_status']}</f:facet>
                        <ui:fragment rendered="#{(project.status != ProjectStatus.PS_CLOSED) or (not empty project.started)}">
                            <h:outputText value="#{msg[project.status]}" />
                        </ui:fragment>
                        <ui:fragment rendered="#{(project.status == ProjectStatus.PS_CLOSED) and (empty project.started)}">
                            <h:outputText value="#{msg['PS_CLOSED_NEVERACTIVE']}" />
                        </ui:fragment>
                    </h:column>
                </c:if>

                <c:if test="#{showColumn_finalReport}">
                    <h:column>
                        <f:facet name="header">#{msg['co_finalReport']}</f:facet>
                        <ui:param name="hasFinalReport" value="#{ProjectController.projectHasFinalReport(project.id)}" />
                        <ui:fragment rendered="#{hasFinalReport}">
                            <ui:param name="finalReport" value="#{ProjectController.getFinalReport(project.id)}"></ui:param>
                            <h:commandLink value="#{finalReport.filename}" id="dl_finalReport" type="submit" action="#{ProjectController.exportDocument(finalReport.id)}" />
                        </ui:fragment>
                        <ui:fragment rendered="#{!hasFinalReport}">
                            <h:outputText value="#{msg['co_noFinalReport']}" />
                        </ui:fragment>
                    </h:column>
                </c:if>

                <c:if test="#{showFooter}">
                    <f:facet name="footer">
                        <h:outputText value="#{msg['co_asteriskProject']}" />
                    </f:facet>
                </c:if>
            </h:dataTable>
        </h:form>
    </ui:define>
</ui:composition>