<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:ssb="http://xmlns.jcp.org/jsf/composite/samply-share-broker"
>

    <ui:define name="title">
        <h:outputText value="DKTK #{msg['co_projectManagement']} - #{msg['co_project']}"/>
    </ui:define>

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="projectId" value="#{ProjectController.selectedProjectId}"/>
            <f:viewAction action="#{ProjectController.loadProject(true)}" onPostback="false"/>
        </f:metadata>
    </ui:define>

    <ui:define name="additional-css">
        <h:outputStylesheet name="webjars/select2/4.0.3/dist/css/select2.min.css"/>
        <h:outputStylesheet name="webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
        <h:outputStylesheet name="css/fileinput.min.css"/>
    </ui:define>

    <ui:define name="additional-js">
        <h:outputScript name="webjars/select2/4.0.3/dist/js/select2.min.js"/>
        <h:outputScript name="webjars/momentjs/2.18.1/min/moment-with-locales.min.js" />
        <h:outputScript name="webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" />
        <h:outputScript library="js" name="fileinput.min.js"/>
        <h:outputScript library="js" name="locales/fileinput_locale_de.js"/>
        <h:outputScript library="js" name="documentBox.js"/>
    </ui:define>

    <ui:define name="optional-import-constants">
        <o:importConstants type="de.samply.share.broker.model.db.enums.ProjectStatus"/>
        <o:importConstants type="de.samply.share.broker.model.db.enums.DocumentType"/>
    </ui:define>

    <ui:define name="menu">
        <ssb:ccpoffice_menu />
    </ui:define>

    <ui:define name="page-header">
        <h1>
            #{msg['co_project']}
            <small>#{ProjectController.selectedProject.name}</small>
            <span class="pull-right">
                        <h:form>
                            <ui:fragment
                                    rendered="#{!ProjectController.selectedProject.externalAssessment and ProjectController.selectedProject.status == ProjectStatus.PS_NEW }">
	                            <h:commandLink styleClass="btn btn-md btn-info" id="assessment"
                                               action="#{ProjectController.sendAssessmentMail}"><i
                                        class="fa fa-comments-o fa-fw fa-lg"
                                        style="vertical-align: sub;"/>#{msg['co_projectAssessment']}
                                    <f:ajax render="@form"/>
	                            </h:commandLink>
                            </ui:fragment>
                            <h:commandButton styleClass="btn btn-md btn-primary" style="margin-left: 5px;"
                                             value="#{msg['co_projectExport']}" id="export" type="submit"
                                             action="#{ProjectController.exportProject}"/>
                        </h:form>
                    </span>
        </h1>
    </ui:define>

    <ui:define name="main-content">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12">
                        <ui:include src="/ccp_office/components/c_projectData.xhtml"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ui:include src="/ccp_office/components/c_description.xhtml"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 smallCriteria">
                        <ui:include src="/ccp_office/components/c_criteria.xhtml"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ui:include src="/components/c_documents.xhtml"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ui:include src="/ccp_office/components/c_reminders.xhtml"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ui:include src="/ccp_office/components/c_reminders_external.xhtml"/>
                    </div>
                </div>
                <ui:fragment rendered="#{not empty ProjectController.callbacks}">
                    <div class="row">
                        <div class="col-lg-12">
                            <ui:include src="/components/c_callbacks.xhtml"/>
                        </div>
                    </div>
                </ui:fragment>
            </div>
        </div>

        <!-- The Options to accept or reject a project. Only for new Projects. -->
        <ui:fragment rendered="#{ProjectController.selectedProject.status == ProjectStatus.PS_NEW}">
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation"><a href="#grant" aria-controls="grant" role="tab"
                                                       data-toggle="tab">#{msg['co_projectGrant']}</a></li>
                            <li role="presentation"><a href="#reject" aria-controls="reject" role="tab"
                                                       data-toggle="tab">#{msg['co_projectReject']}</a></li>
                            <li role="presentation"><a href="#callback" aria-controls="callback" role="tab"
                                                       data-toggle="tab">#{msg['co_projectCallback']}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </ui:fragment>

        <!-- The Options to mark a project as active. Only for pending Projects. -->
        <ui:fragment rendered="#{fn:startsWith(ProjectController.selectedProject.status, 'PS_OPEN_')}">
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <ui:fragment
                                    rendered="#{ProjectController.selectedProject.status == ProjectStatus.PS_OPEN_DISTRIBUTION}">
                                <li role="presentation"><a href="#activate" aria-controls="activate" role="tab"
                                                           data-toggle="tab">#{msg['co_projectActivate']}</a></li>
                                <li role="presentation"><a href="#close" aria-controls="close" role="tab"
                                                           data-toggle="tab">#{msg['co_projectClose']}</a></li>
                            </ui:fragment>
                            <ui:fragment
                                    rendered="#{ProjectController.selectedProject.status == ProjectStatus.PS_OPEN_MOREINFO_PROVIDED}">
                                <li role="presentation"><a href="#grant" aria-controls="grant" role="tab"
                                                           data-toggle="tab">#{msg['co_projectGrant']}</a></li>
                                <li role="presentation"><a href="#callback" aria-controls="callback" role="tab"
                                                           data-toggle="tab">#{msg['co_projectCallback']}</a></li>
                            </ui:fragment>
                            <ui:fragment
                                    rendered="#{fn:startsWith(ProjectController.selectedProject.status, 'PS_OPEN_MOREINFO_')}">
                                <li role="presentation"><a href="#reject" aria-controls="reject" role="tab"
                                                           data-toggle="tab">#{msg['co_projectReject']}</a></li>
                            </ui:fragment>
                        </ul>
                    </div>
                </div>
            </div>
        </ui:fragment>

        <!-- The Options to mark a project as done. Only for active Projects. -->
        <ui:fragment rendered="#{ProjectController.selectedProject.status == ProjectStatus.PS_ACTIVE}">
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation"><a href="#close" aria-controls="close" role="tab"
                                                       data-toggle="tab">#{msg['co_projectClose']}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </ui:fragment>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane" role="tabpanel" id="grant">
                <ui:include src="/ccp_office/components/c_project_grant.xhtml"/>
            </div>
            <div class="tab-pane" role="tabpanel" id="reject">
                <ui:include src="/ccp_office/components/c_project_reject.xhtml"/>
            </div>
            <div class="tab-pane" role="tabpanel" id="callback">
                <ui:include src="/ccp_office/components/c_project_callback.xhtml"/>
            </div>
            <div class="tab-pane" role="tabpanel" id="activate">
                <ui:include src="/ccp_office/components/c_project_activate.xhtml"/>
            </div>
            <div class="tab-pane" role="tabpanel" id="close">
                <ui:include src="/ccp_office/components/c_project_close.xhtml"/>
            </div>
        </div>
    </ui:define>
</ui:composition>