<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:ssc="http://xmlns.jcp.org/jsf/composite/samply-share-common"
                xmlns:ssb="http://xmlns.jcp.org/jsf/composite/samply-share-broker">


    <ui:define name="title">
        <h:outputText value="DKTK Projektverwaltung - Studien"/>
    </ui:define>

    <ui:define name="menu">
        <ssb:ccpoffice_menu/>
    </ui:define>

    <ui:define name="main-content">
        <h:outputText value="hello dktk studies"/>
    </ui:define>

    <h:body class="background">
        <h:outputScript name="webjars/jquery/1.11.1/jquery.min.js" target="head"/>
        <h:outputScript name="js/sessionTimeout.js" target="head"/>

        <h:panelGroup layout="block" styleClass="page-wrapper">
            <ssb:ccpoffice_menu/>
            <h:panelGroup layout="block" styleClass="container content-container theme-showcase">

                <h:outputText value="hello dktk studies"/>
            </h:panelGroup>
            <ssc:sessionTimeoutModal/>
        </h:panelGroup>
        <h:outputScript name="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"/>

    </h:body>
</ui:composition>